@charset "utf-8";
/* ver 1.02 */
  
#headerContents {
  width: 1024px;
  height:450px; /* 1.【パーツの高さ数値】にiframeもしくは画像の横幅が1024px時の高さを入力（※単位はpx） */
}
   
#itemImageSlider, .ctgTtl , .imageFlick {
  margin-top: calc(450 / 1024 * 100% + 10px); /* 2.【パーツの高さ数値】にiframeもしくは画像の横幅が1024px時の高さを入力（※pxなど単位はつけないこと） */
  position: relative;
}
 
#itemImageSlider, #sCLContainer, #sCSLContainer, .ctgTtl , .imageFlick {
  z-index: 1000;
  position: relative;
}

#headerContents2 {
  width: 1024px;
  height:150px; /* 1.【パーツの高さ数値】にiframeもしくは画像の横幅が1024px時の高さを入力（※単位はpx） */
}
 
   
@media screen and (max-width: 1023px) {
  #headerWrap {
    position: relative;
    width: 100%;
    padding-bottom: calc(450 / 1024 * 100%); /* 3.【パーツの高さ数値】にiframeもしくは画像の横幅が1024px時の高さを入力（※pxなど単位はつけないこと） */
  }
   
#headerContents {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

#headerContents2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}
   
#absoluteBox {
  position: absolute; 
  top: 150px; /* 4.店舗独自ヘッダーの画面トップからの距離を指定 */
  left: 0;
  width: 100%;
  z-index: 0;
}
   
.itemtitle,.ctgTtl1,#campaignText,#itemFestival {
  display: none; /* 5.通常商品ページと定期購入ページの店名、商品変倍表示、楽天スーパーDEALの表示を非表示に */
}
