@charset "utf-8";
/* CSS Document */


/*----------------------
	デフォルトスタイル
-----------------------*/
body,p,h1,h2,h3,h4,h5,h6,
span,small,strong,
div,ul,li,
figure,img,
header,footer,nav,section{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	font-size: 1rem;
}

header,footer,nav,section{display:block;}

html{
	-webkit-text-size-adjust: none;
	font-family: "小塚ゴシック Std R", "小塚ゴシック Pro R", "メイリオ";
	font-size: 12px;
	line-height: 1.3;
}

li{
	list-style: none;
	display: block;
}


/*----------------------------------------
	全ページ共有ここから
----------------------------------------*/
body{
	background:url(img/bg.jpg) #FFF;
	color:#333333;
	max-width:100%;
}

/* リンク色変更はここ */
a{
	color: #000;
	text-decoration: none;
}
	 /*--商品検索---*/
#shouhinkensaku {
	padding: 0px;
	margin: 0px;
	width: 100%;
	background: rgba(255,255,255,0.7);
	height: 50px;
	padding-top:3px;
}
#shouhinkensaku .asotext {
	float: left;
	margin: 1%;
	height: 30px;
	margin-top: 3%;
}
#shouhinkensaku .btn {
	display: block;
	height: 45px;
	width: auto;
	position:absolute;
	top:3px;
	right:45px;
}

/*  toppage  */
.box3 {
	color: #fff;
	background: #8e2817;/*背景色*/
	width: 20px;
	height: 20px;
	padding-left: auto;
	padding-right: auto;
	padding-top: auto;
	text-align: center;
}
.box3 p {
	text-align: center;
	padding-top: auto;
	padding-bottom: auto;
	vertical-align: bottom;
	line-height: 4em;

}
#headlist #h-listitems {
	display: block;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	text-align: center;
	font-size: 8px;
}
#h-listitems .items{
	float: left;
	width: 20%;
	text-align: center;
}
#h-listitems .itemslast{
	float: left;
	width: 20%;
	text-align: center;
	padding-left: inherit;
	padding-right: inherit;
	padding-top: 0px;
}
#pricechoice #prices tr td {
	border: 0;
	width: 45%;
	float: left;
}
.footer {
	background-color: #000;
	color: #fff;
}
.footer table tr td {
	text-decoration: none;
	margin: 0;
	height: 30px;
	font-size: 13px;
	width: 50%;
	border: solid 1px #aaa;
	border-collapse: collapse;
	padding: 10px;
	font-family: "小塚ゴシック Std R", "小塚ゴシック Pro R", "メイリオ";
}


/*	INDEX TOP画像 サイズ制御
----------------------------------------*/
.top_img{
	padding:10px 0;
	overflow:hidden;
	border-top:solid 1px #FFF;
	border-bottom:solid 1px #DFDFDF;
}

.top_img img{
	width:100%;
	height:auto;
	border:solid 1px #CCC;
}

.fu01 img{
	width:100%;
	height:auto;
	border:solid 1px #CCC;
}



/**--バナー並べる--**/


.fsamp_bannerTable{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.fsamp_bannerTable tr td{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

.fsamp_bannerTable tr td img{
	width: 100%;
}


/**--送料非表示--**/
.FS2_postagesettlelist{display:none;}




/* ------ タブナビゲーション設置領域 ------ */
#fsamp_headMenuTabArea{
    margin:10px 0 0 0;
    padding:5px 0 0 0;
    background-color:#FFFFFF;
    width: 100%;
}
 
/* ------ タブナビゲーション ------ */
#fsamp_headMenuTabList{
    margin:10px 0 0px 0;
    line-height:1em;
    text-align:center;
    border-bottom:5px solid #8E1728;
    background-color:#FFFFFF;
}
 
#fsamp_headMenuTabList li{
    display:inline-block;
    margin:0 1px;
    padding:10px 1px 0 1px;
    border-width:1px 1px 0 1px;
    background-color:#fff;
}

#fsamp_headMenuTabList li a{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color:#FFFFFF;
    display:block;
    line-height:1.3em;
    padding:6px 8px;
    background-color:#000000;
}
 
 
 
/* ------ 切り替えタブコンテンツ ------- */
.fsamp_headMenuTabContent{
    display:none;
    border-bottom:1px solid #FFF;
}
 

 
/* ------ 選択中のタブとコンテンツエリアの色設定 ------- */
#fsamp_headMenuTabList li.fsamp_headMenuTab_active a,
.fsamp_headMenuTabContent{
    background-color:#8E1728;
}


.box {
	float: left;
}

.boxContainer {
	overflow: hidden;
        width:100%;
}

/* clearfix */
.boxContainer:before,
.boxContainer:after {
    content: "";
    display: table;
}
 
.boxContainer:after {
    clear: both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.boxContainer {
    zoom: 1;
}


/* ------ ＴＯＰ戻るボタン ------- */
#page-top {
     position: fixed;
    bottom: 10px;
    right: 12px;
    font-size:25px;
    font-weight: bold;
}
#page-top a {
    background: #8e8e88;
        filter:alpha(opacity=60);
        -moz-opacity:0.6;
        -khtml-opacity: 0.6;
        opacity:0.6;
        text-decoration: none;
        color: #fff;
     width: 33px;
  height: 33px;
        padding: 8px;
        text-align: center;
        display: block;
        border-radius: 30px;

}
#page-top a:hover {
   border-style: none;
            background: #8e8e88;
}


/* ------フッター部分 ------- */

.footer table tr td a img {
	margin-bottom: -5px;
}

/* ------コンテンツ ------- */
.contentstop p {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 11px;
}
.tokubox  p {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 11px;
	padding-bottom: 10px;
}

.contentstop img {
	width:100%;
	height:auto;
	border:solid 1px #CCC;
}
.tokubox  img{
	width:100%;
	height:auto;
	border:solid 1px #CCC;
}

/* ------コラムページ ------- */


#sp-contents_main .asocolumn .cate_text, #contents_main .asocolumn p ,#sp-contents_main .asocolumn .fot_left,#sp-contents_main .asocolumn .fot_right, .asocolumn .title {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#sp-contents_main .asocolumn img {
	padding-bottom: 10px;
}

#sp-contents_main {
	width:100%;
	height:auto;
	border:solid 1px #CCC;
}
#sp-contents_main .asocolumn img {
	padding-bottom: 8px;
}
.asocolumn .title {
	font-size: 16px;
	padding: 0.5em;/*文字周りの余白*/
	color: #000;/*文字色*/
	background: #D2D2D2;/*背景色*/
	border-left: solid 5px #8E1728;/*左線（実線 太さ 色）*/
	width:300px;
}

#sp-contents_main .asocolumn .fot_right {
	float: right;
	font-size: 11px;
	width:30%;

}

#sp-contents_main .asocolumn .fot_left {
	float: left;
	font-size: 11px;
	margin-right: 20px;
	width:30%;

}


#sp-contents_main .asocolumn .cate_text {
	padding: 7px;
	overflow: auto;/*回り込み解除*/
}

/* ------名入れブックカバーTO-C220 ------- */


.sp-thumbnails { cursor: default;}
.sp-slide {
	cursor: default;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	text-align: center;
}




#container #simple .sp-thumbnails {
	padding-top: 40px;
}
#container #thumb-h .sp-thumbnails {
	padding-top: 40px;
}

#container table tr td p{
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
	padding-top: 10px;
	padding-left: 20px;
}
#container p {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12px;
	padding-top: 3px;
	padding-right: 30px;
	padding-bottom: 5px;
}


/* ------クリスマスギフト ------- */

ul.catalog { width:100%; margin:5px 0px 20px;padding:0px;clear:both;letter-spacing: -.40em;}
ul.catalog li{display:inline-block; width:33.33%; margin:5px 0px 10px;padding:0px;list-style-type:none;vertical-align:top;letter-spacing: normal;}
ul.catalog li img{width:100%;height: auto; float:left; margin:0px 0px 5px 0px;padding:0px; }
ul.catalog li .title{text-align:center;margin:0px;padding:0px 0px 2px 0px;font-size:13px; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif}

/* ------父の日ギフトプライス4つ画像並べ ------- */
ul.price-area { width:100%; margin:5px 0px 20px;padding:0px;clear:both;letter-spacing: -.40em;}
ul.price-area li{display:inline-block; width:25%; margin:5px 0px 10px;padding:0px;list-style-type:none;vertical-align:top;letter-spacing: normal;}
ul.price-area li img{width:100%;height: auto; float:left; margin:0px 0px 5px 0px;padding:0px; }
ul.price-area li .title{text-align:center;margin:0px;padding:0px 0px 2px 0px;font-size:9px; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif}

/*--header--*/
.sptop2ndlineleft {
	display: block;
	margin: 10px;
	float: left;
	margin-bottom:0;
}
.sptop2ndlineleft .sp_concept {
	display: block;
	padding: 5;
	float: left;
	font-size: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-family: "メイリオ";
}
.sptop2ndlineleft a img {
	float: left;
	padding-right: 5px;
	padding-bottom: 0px;
}
.sp_rakuten a img {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}
.sp_souryoumuryou p {
	color: #FFF;
	text-align: center;
	padding-bottom: auto;
	vertical-align: bottom;
	height: 30px;
	line-height: 30px;
	font-family:"メイリオ";
}
.sp_souryoumuryou {
	background-color: #8e8e88;
	width: 100%;
	height: 30px;
}
.footer {
	color: #fff;
	background-color: #000;
}
.footer table tr {
	width: 100%;
	margin: 0;
}
.footer table {

}
#pricechoice #prices {
	width: 100%;
	margin-left: auto;
	margin-right: auto;



	padding-top: 1.em;
	border: 0;
}
#pricechoice #prices tr td a {
	color: #000;
}
#headlist #h-listitems .items a {
	color: #000;
}
.footer table tr td a {
	color: #fff;
}
.bar a img {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #fff;
	border-bottom-color: #fff;
	border-collapse: collapse;
}
#scenechoice {
	max-width: 100%;

}
#scenechoice img{
	margin-top:1px;
}
.buscasfor{
	max-width:100%;
}
.sp_rakuten a img {
	padding-top: 5px;
	padding-right: 5px;
}
#prices tr td a img {
	width: 90%;
	margin: 10px;
}
#bagsagasu img {
	max-width:100%;
}
/*--バッグを探す--*/
#bagsagasu .erabikata .shiyou a img {
	position: absolute;
	left: 38%;
	top: 30.5%;
	width: 25.4%;
	height: auto;
}
#bagsagasu .erabikata .goyosan a img {
	position: absolute;
	width: 27.5%;
	top: 16.5%;
	left: 68.4%;
}
#bagsagasu .erabikata img {
	position: relative;
	top: 0px;
	left: 0px;
}
#bagsagasu {
	width: 760px;
	position: relative;
	top: 0px;
	left: 0px;
	max-width:100%;
}
#bagsagasu a img:hover{
	opacity:0.8;
}
.takusnshorui {
	position: relative;
	left: 0px;
	top: 0px;
}
.takudares01 img {
	width: 27.3%;
	position: absolute;
	left: 6%;
	top: 41.5%;
}
.takudares02 img {
	width: 27.3%;
	position: absolute;
	left: 66%;
	top: 41.5%;
}
.takuata01 img {
	width: 27.3%;
	position: absolute;
	left: 6%;
	top: 71.1%;
}
.takuata02 img {
	width: 27.3%;
	position: absolute;
	left: 66%;
	top: 71.1%;
}
.smaahorui {
	position: relative;
	left: 0px;
	top: 0px;
}
.smabri01 img {
	width: 27.3%;
	position: absolute;
	left: 6%;
	top: 26.2%;
}
.smabri02 img {
	width: 27.3%;
	position: absolute;
	left: 66%;
	top: 26.2%;
}
.takusnshorui .shoruifile img {
	position: absolute;
	left: 10.3%;
	top: 1.2%;
	width:34.2%;
}
.takusnshorui .shoruibento img {
	position: absolute;
	left: 55.1%;
	top: 1.2%;
	width:34.2%;
}
#arekore {
	position: relative;
	left: 0px;
	top: 0px;
}

.ruck01 img {
	width: 27.3%;
	position: absolute;
	left: 6%;
	top: 17.2%;
}
.ruck02 img {
	width:27.3%;
	position: absolute;
	left: 66%;
	top: 17.2%;
}
.should01 img {
	width: 27.3%;
	position: absolute;
	left: 6%;
	top: 36.2%;
}
.should02 img {
	width: 27.3%;
	position: absolute;
	left: 66%;
	top: 36.2%;
}
.bentosukkiri img {
	position: absolute;
	left: 58.7%;
	top: 6.6%;
	width:26.6%;
}
#bensmart {
	position: relative;
	left: 0px;
	top: 0px;
}

.bentote01 img {
	width: 27.3%;
	position: absolute;
	left: 6%;
	top: 16.8%;
}
.bentote02 img {
	width: 27.3%;
	position: absolute;
	left: 66%;
	top: 16.8%;
}
.benbody01 img {
	width: 27.3%;
	position: absolute;
	left: 6%;
	top: 59.6%;
}
.benbody02 img {
	width: 27.3%;
	position: absolute;
	left: 66%;
	top: 59.6%;
}
#banners .leftnavi table tr td p {
	text-align: left;
}
#banners .leftnavi .dramacoope p {
	text-align: left;
}
.erabikata{
	position:relative;
	top:0;
	left:0;
}
#sceneerabu {
	position: relative;
	left: 0px;
	top: 0px;
}
.3scenes {
	position: relative;
	left: 0px;
	top: 0px;
}

.busy img {
	position: absolute;
	left: 6.6%;
	top: 12%;
	width: 27.6%;
}
.priv img {
	position: absolute;
	left: 36.3%;
	top: 12%;
	width: 27.6%;
}
.cele img {
	position: absolute;
	left: 67%;
	top: 12%;
	width: 27.6%;
}
.scebusy {
	position: relative;
	left: 0px;
	top: 0px;
}

.scebri01 img {
	width: 27.3%;
	position: absolute;
	left: 6%;
	top: 15.7%;
}
.scebri02 img {
	width: 27.3%;
	position: absolute;
	left: 66%;
	top: 15.7%;
}
.scedare01 img {
	width: 27.3%;
	position: absolute;
	left: 6%;
	top: 57.5%;
}
.scedare02 img {
	width: 27.3%;
	position: absolute;
	left: 66%;
	top: 57.5%;
}
.scebc {
	position: relative;
	left: 0px;
	top: 0px;
}

.scetot01 img {
	width: 27.3%;
	position: absolute;
	left: 6%;
	top: 7.6%;
}
.scetot02 img {
	width: 27.3%;
	position: absolute;
	left: 66%;
	top: 7.6%;
}
.scegar01 img {
	width: 27.3%;
	position: absolute;
	left: 6%;
	top: 42.9%;
}
.scegar02 img {
	width: 27.3%;
	position: absolute;
	left: 66%;
	top: 42.9%;
}
.scefli01 img {
	width: 27.3%;
	position: absolute;
	left: 6%;
	top: 70.9%;
}
.scefli02 img {
	width: 27.3%;
	position: absolute;
	left: 66%;
	top: 70.9%;
}
.sceca {
	position: relative;
	left: 0px;
	top: 0px;
}

.scebod01 img {
	width: 27.3%;
	position: absolute;
	left: 6%;
	top: 29.2%;
}
.scebod02 img {
	width: 27.3%;
	position: absolute;
	left: 66%;
	top: 29.2%;
}
.scesho01 img {
	width: 27.3%;
	position: absolute;
	left: 6%;
	top: 70.4%;
}
.scesho02 img {
	width: 27.3%;
	position: absolute;
	left: 66%;
	top: 70.4%;
}
.scefor01 img {
	width: 27.3%;
	position: absolute;
	left: 6%;
	top: 20%;
}
.scefor02 img {
	width: 27.3%;
	position: absolute;
	left: 66%;
	top: 20%;
}
#scefor{
	position:relative;
	left:0;
	top:0;
}
.yosans {
	position: relative;
	left: 0px;
	top: 0px;
}

.under01 img {
	width: 27.3%;
	position: absolute;
	left: 6%;
	top: 10.9%;
}
.under02 img {
	width: 27.3%;
	position: absolute;
	left: 36.2%;
	top: 10.9%;
}
.under03 img {
	width: 27.3%;
	position: absolute;
	left: 66%;
	top: 10.9%;
}
.between01 img {
	width: 27.3%;
	position: absolute;
	left: 6%;
	top: 43.8%;
}
.between02 img {
	width: 27.3%;
	position: absolute;
	left: 36.2%;
	top: 43.8%;
}
.between03 img {
	width: 27.3%;
	position: absolute;
	left: 66%;
	top: 43.8%;
}
.over01 img {
	width: 27.3%;
	position: absolute;
	left: 6%;
	top: 76.4%;
}
.over02 img {
	width: 27.3%;
	position: absolute;
	left: 36.2%;
	top: 76.4%;
}
.over03 img {
	width: 27.3%;
	position: absolute;
	left: 66%;
	top: 76.4%;
}
#headlist #h-listitems .items {
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height:1em;
	font-family:"メイリオ";
}
#afloatbanner a{
	display: block;
	width: 50%;
	height: auto;
	margin: 0;
	padding: 0;
	position: fixed;
	bottom: 12%;
	left: 25%;
	color: #FFF!important;
	text-align: center;
	font-weight: bold;
	background-color: rgba(0,0,0,0.5);
	z-index: 90;
}

#catefloatbanner a{
display: block;
width: 100%;
height: auto;
margin: 0;
padding: 0;
position: fixed;
bottom: 0;
left: 0;
color: #FFF!important;
text-align: center;
font-weight: bold;
background-color: rgba(0,0,0,0.5);
z-index:90;}.frame {
	height: 0px;
	width: 100%;
	padding-top: 110%;
	position: relative;
}
.frame iframe {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
}
label[for="sample"]{
	position: absolute;
	top: 3px;
	right: 0px;
	z-index: 9999;
	font-size: 30px;
	color: #fff;
	height: 45px;
}

/*inputは隠す*/
input[type="checkbox"]#sample {
    visibility: hidden;
}

/*疑似要素で背景*/
input[type="checkbox"]#sample:checked:before{
	width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.40);
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    visibility: visible;
    z-index: 2147483645;
}

/*疑似要素で閉じるボタン*/
input[type="checkbox"]#sample:checked:after{
	width: 45px;
    height: 45px;
    background: rgba(255, 255, 255, 0.80);
    content: "\00d7";
	color: #000;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    border-radius: 50%;
	visibility: visible;
	display: block;
	z-index: 2147483647;
    position: fixed;
    top: 5px;
    left: 80%;
}
/*iframeを格納*/
input[type="checkbox"]#sample + #cover { 
	width: 80%;
	height: 415px;
	background:rgba(245, 245, 245, 0.1);
    transition: 0.1s ease-in-out;
    position:fixed;
    top:0;
    left: -80%;
}

/*iframeを格納(オープン時)*/
input[type="checkbox"]#sample:checked + #cover {
    overflow:scroll;
	-webkit-overflow-scrolling:touch;
    z-index: 2147483646;
    left: 0;
}

/*iframe*/
input[type="checkbox"]#sample + #cover > iframe {
    width: 100%;
    height: 100%;
    background:rgba(245, 245, 245, 0.95);
    border:none;
    z-index: 2147483646;
}

.spfloat_top {
	float: left;
	height: 40px;
}
#shouhinkensaku #search {
	width: 100%;
	margin: 0;
	padding: 0;
}
.asoaso a img {
	position: absolute;
	left: 3px;
	top: 7px;
}
/*pickupslider*/
  
.pickupslider {
  width: 560px;
  height:2870px; /* 1.【パーツの高さ数値】にiframeもしくは画像の横幅が560px時の高さを入力（※単位はpx） */
}
   
 
   
@media screen and (max-width: 560px) {
  .pickupslider {
    position: relative;
    width: 100%;
    padding-bottom: calc(2870 / 560 * 100%); /* 3.【パーツの高さ数値】にiframeもしくは画像の横幅が560px時の高さを入力（※pxなど単位はつけないこと） */
  }
   
.pickupslider iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.pickupslider_cate {
  width: 560px;
  height:2870px; /* 1.【パーツの高さ数値】にiframeもしくは画像の横幅が560px時の高さを入力（※単位はpx） */
}
   
 
   
@media screen and (max-width: 560px) {
  .pickupslider_cate {
    position: relative;
    width: 100%;
    padding-bottom: calc(2870 / 560 * 100%); /* 3.【パーツの高さ数値】にiframeもしくは画像の横幅が560px時の高さを入力（※pxなど単位はつけないこと） */
  }
   
.pickupslider_cate iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.pickupslider{
    position:relative;
		 padding: calc(2870 / 560 * 100%) 0 0 ;/* topを0、bottomをcalc()としてもOK */
		 top:0;

}
.pickupslider iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
/*pickupslider*/
.pickupslider_cate{
    position:relative;
	 padding: calc(2870 / 560 * 100%) 0 0 ;/* topを0、bottomをcalc()としてもOK */
	 top:0;
}
.pickupslider_cate iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
/* CSSでレスポンシブ対応 */
@media screen and (max-width: 560px) {
  .pikupslider {
    position: relative;
    width: 100%;
    padding: calc(2870 / 560 * 100%) 0 0;
  }
  .pikupslider iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
/* CSSでレスポンシブ対応 */
@media screen and (max-width: 560px) {
  .pikupslider_cate {
    position: relative;
    width: 100%;
    padding: calc(2870 / 560 * 100%) 0 0;
  }
  .pikupslider_cate iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}