@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500&display=swap&subset=japanese');

html, body{
	height:100%;
	width:100%;
	margin:0;
	font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, sans-serif;
	padding:0;
}
#container1200{
	width:100%;
	font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, sans-serif;
}
.wrap600{
	width:100%;
	display:block;
}
.wrap600 img{
	width:100%;
}
.wrap600 .wraptext{
	display:block;
	padding:0 5%;
	width:80%;
	margin:0;
}
.gallerytitle p{
	font-size:32px;
	margin-bottom:0;
	line-height:32px;
	margin-top:20px;
}
.gallerysub p{
	font-size:20px;
	line-height:20px;
}
.gallerytext p{
	font-size:12px;
}
table.gallerytable{
	width:100%;
	clear:both;
	margin-bottom:20px;
}
table.gallerytable td{
}
table.gallerytable td img{
	width:100%;
}
.galleryshohin{
	width:100%;
	clear:both;
}
.galleryshohin img{
	width:100%;
}
.gallerylink{
	width: 90%;
	padding: 2% 0 5% 5%;
	box-sizing: border-box;
	height: auto;
}
.gallerylink p{
	font-size: 12px;
	padding-left: 5%;
}
.gallerylink img{
	width:50%;
}
#large1{
	display:block;
	height:auto;
	width:100%;
}
#large2{
	display:block;
	height:auto;
	width:100%;
}
#large3{
	display:block;
	height:auto;
	width:100%;
}
#large4{
	display:block;
	height:auto;
	width:100%;
}
#large5{
	display:block;
	height:auto;
	width:100%;
}
#large6{
	display:block;
	height:auto;
	width:100%;
}
#large7{
	display:block;
	height:auto;
	width:100%;
}
#large8{
	display:block;
	height:auto;
	width:100%;
}
#large9{
	display:block;
	height:auto;
	width:100%;
}
#large10{
	display:block;
	height:auto;
	width:100%;
}
#large11{
	display:block;
	height:auto;
	width:100%;
}
#large12{
	display:block;
	height:auto;
	width:100%;
}
.reviews #large1{
	display:block;
	height:auto;
	width:100%;
	float:left;
}
.reviews #large2{
	display:block;
	height:auto;
	width:100%;
	float:left;
}
.reviews #large3{
	display:block;
	height:auto;
	width:100%;
	float:left;
}
.reviews #large4{
	display:block;
	height:auto;
	width:100%;
	float:left;
}
.reviews #large5{
	display:block;
	height:auto;
	width:100%;
	float:left;
}
.reviews #large6{
	display:block;
	height:auto;
	width:100%;
	float:left;
}
.reviews #large7{
	display:block;
	height:auto;
	width:100%;
	float:left;
}
.reviews #large8{
	display:block;
	height:auto;
	width:100%;
	float:left;
}
.reviews #large9{
	display:block;
	height:auto;
	width:100%;
	float:left;
}
.reviews #large10{
	display:block;
	height:auto;
	width:100%;
	float:left;
}
.reviews #large11{
	display:block;
	height:auto;
	width:100%;
	float:left;
}
.reviews #large12{
	display:block;
	height:auto;
	width:100%;
	float:left;
}

.largeImg{
	position:fixed;
	top:55px;
	left:0;
	width:100%;
	background-color:#ddd;
}
.reviews{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background-color:#fff;
	z-index:50000;
}


.my-parts {
  display: block;
  width: 40px;
  height: 40px;
  position: fixed;
  top:20px;
  right:35px;
  cursor:pointer;
  background: rgba(0,0,0,0.75);
  border-radius:50%;
  z-index:99999;
}
.my-parts span::before,
.my-parts span::after {
  display: block;
  content: "";
  position: absolute;
  top: 20px;
  right: 9px;
  width: 54%;
  height: 5%;
  margin: -3% 0 0 -15%;
  background: rgb(255, 255, 255);
}
.my-parts span::before {
  transform: rotate(-45deg);
}
.my-parts span::after {
  transform: rotate(45deg);
}
.forsp p{
	font-size:12px;
	margin:0 5%;
}
.base10.forsp p{
	font-size:10px;
}
.cntr_ctgr_left.forsp p{
	font-size:20px;
	line-height:20px;
	margin-bottom:0;
}
.swiper-container{
	width:100%;
}
.swiper-slide img{
	width:85%;
}
.reviewwrap {
	width:100%;
	display:block;
	padding-left:20px;
	position:fixed;
	top:59%;
	right:0;
	background:rgba(255,255,255,1);
	overflow:auto;
	height:41%;
	padding-bottom:40px;
}
.reviewwrap .reviewtitle p{
	padding-left:5%;
	padding-top:2%;
	font-size:20px;
	line-height:24px;
}
.reviewwrap .reviewcomment p{
	padding:0 20px 0 20px;
	font-size:12px;
	line-height:24px;
	overflow:auto;
}
.pagejump {
	width:250px;
	height:30px;
	background-color:#bbb;
	margin:auto;
	text-align:center;
	margin-bottom:15px;
	font-size:12px;
	overflow:auto;
}
.pagejump a{
	line-height:30px;
	display:block;
}
.pagejump a:link{
	text-decoration:none;
	color:rgba(0,0,153,1);
}
.pagejump a:hover{
	text-decoration:none;
	color:rgba(0,0,153,1);
	background-color:#ddd;
}
.pagejump a:visited{
	text-decoration:none;
	color:rgba(0,0,153,1);
}
.pagejump a:active{
	text-decoration:none;
	color:rgba(0,0,153,1);
}

/*--SPページ共通パーツ--*/

#shouhinkensaku {
	padding: 0px;
	margin: 0px;
	width: 100%;
	background: rgba(255,255,255,0.7);
	height: 50px;
	padding-top:3px;
}
#shouhinkensaku .asotext {
	float: left;
	margin: 1%;
	height: 0;
	margin-top: 3%;
}
#shouhinkensaku .btn {
	display: block;
	height: 45px;
	width: auto;
	position:absolute;
	top:3px;
	right:45px;
}
.frame iframe {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
}
label[for="sample"]{
	position: absolute;
	top: 3px;
	right: 0px;
	z-index: 9999;
	font-size: 30px;
	color: #fff;
	height: 45px;
}

/*inputは隠す*/
input[type="checkbox"]#sample {
    visibility: hidden;
	height:0;
	margin-top:-50px;
}

/*疑似要素で背景*/
input[type="checkbox"]#sample:checked:before{
	width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.40);
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    visibility: visible;
    z-index: 2147483645;
}

/*疑似要素で閉じるボタン*/
input[type="checkbox"]#sample:checked:after{
	width: 45px;
    height: 45px;
    background: rgba(255, 255, 255, 0.80);
    content: "\00d7";
	color: #000;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    border-radius: 50%;
	visibility: visible;
	display: block;
	z-index: 2147483647;
    position: fixed;
    top: 5px;
    left: 80%;
}
/*iframeを格納*/
input[type="checkbox"]#sample + #cover { 
	width: 80%;
	height: 415px;
	background:rgba(245, 245, 245, 0.1);
    transition: 0.1s ease-in-out;
    position:fixed;
    top:0;
    left: -80%;
}

/*iframeを格納(オープン時)*/
input[type="checkbox"]#sample:checked + #cover {
    overflow:scroll;
	-webkit-overflow-scrolling:touch;
    z-index: 2147483646;
    left: 0;
}

/*iframe*/
input[type="checkbox"]#sample + #cover > iframe {
    width: 100%;
    height: 100%;
    background:rgba(245, 245, 245, 0.95);
    border:none;
    z-index: 2147483646;
}

.spfloat_top {
	float: left;
	height: 40px;
}
#shouhinkensaku #search {
	width: 100%;
	margin: 0;
	padding: 0;
	height:0;
	margin-top:-50px;
}
.asoaso a img {
	position: absolute;
	left: 3px;
	top: 7px;
}

/* ------ ＴＯＰ戻るボタン ------- */
#page-top {
     position: fixed;
    bottom: 10px;
    right: 12px;
    font-size:25px;
    font-weight: bold;
}
#page-top a {
    background: #8e8e88;
        filter:alpha(opacity=60);
        -moz-opacity:0.6;
        -khtml-opacity: 0.6;
        opacity:0.6;
        text-decoration: none;
        color: #fff;
     width: 33px;
  height: 33px;
        padding: 8px;
        text-align: center;
        display: block;
        border-radius: 30px;

}
#page-top a:hover {
   border-style: none;
            background: #8e8e88;
}
#sidenavi{
	display:none;
}
#header{
	display:none;
}
.pconly{
	display:none;
}
.footer{
	background-color: #000;
	color: #fff;
}
.footer table tr td{
	text-decoration: none;
	margin: 0;
	height: 30px;
	font-size: 13px;
	width: 50%;
	border: solid 1px #aaa;
	border-collapse: collapse;
	padding: 10px;
}
.footer table tr td a{
	text-decoration:none;
	color:#fff;
}
.gallerywrap .reviewcomment .galnext img{
	width:90%;
	margin:auto;
	padding:0;
	display:block;
}
.gallerywrap .reviewcomment .galback img{
	width:90%;
	margin:auto;
	padding:0;
	display:block;
}
.galback{
	display:block;
	float:left;
	width:45%;
}
.galnext{
	display:block;
	width:45%;
	float:right;
}
.gallerywrap {
	width:100%;
	display:block;
	position:fixed;
	top:59%;
	right:0;
	background:rgba(255,255,255,1);
	overflow:auto;
	height:41%;
	padding-bottom:40px;
	padding-top:-20px;
}
.gallerywrap .reviewcomment p{
	padding:0 20px 0 20px;
	font-size:12px;
	line-height:24px;
	overflow:auto;
}
.reviewwrap {
	width:100%;
	display:block;
	padding-left:20px;
	position:fixed;
	top:59%;
	right:0;
	background:rgba(255,255,255,1);
	overflow:auto;
	height:41%;
	padding-bottom:40px;
}
.reviewwrap .reviewtitle p{
	padding-left:5%;
	padding-top:2%;
	font-size:20px;
	line-height:24px;
}
.reviewwrap .reviewcomment p{
	padding:0 20px 0 20px;
	font-size:12px;
	line-height:24px;
	overflow:auto;
}


/* 商品紹介グリッド */
.shoukaigrid {

	display: grid;
	grid-template-rows:auto;
	grid-template-columns: 100%;
	margin-bottom: 15px;
}

.shoukaigrid > div {
  min-width: 0;
  padding: 1em;
	width: auto;
}
.snslogos img {
	height: 20px;
	padding: 5px;
	text-align:center;
}
.snslogos a img:hover {
	opacity:0.8;
}
.snslogos {
	width: 80%;
	margin:20px auto 0;
}
.kuwashikumiru {
	width: 50%; height:20px; background-color:#898989; color:#FFFFFF; text-align:center; text-decoration: none;
	vertical-align: middle;
border-radius: 3px;
}
.kuwashikumiru a {
	text-decoration: none;
	color: #FFFFFF;
	box-sizing: border-box;
	display: block;

	line-height: 20px;
}

#othergallery .para {
	border-left: 1px solid #898989; padding-left: 3%; width: 90%; margin:0 auto; padding-bottom: 5px; box-sizing: border-box;
	line-height:18px;
}

/* index page */
	.topicstable tr td {
		width: 30%;
		box-sizing: border-box;
		margin:0 auto;
	}
	.topicstable tr td img {
		width: 100%;
	}
	.topicsitem {
		width: 95%;
		margin:0 auto 15px;
	}
	.asobase03 {
		font-size: 10px;
		color: #b5b5b5;
		margin: 0 auto;
		padding: 15px 0 3px;
	}
	.asobase04 {
		font-size: 12px;
		margin: 0 auto;
		padding: 0 0 10px;
	}
	.asobase01 {
		font-size: 20px; padding:0; margin:0;
		letter-spacing: 0.1em;
	}
	.asobase02 {
		font-size: 10px; margin-top: 3px;
	}


/* コンテンツページ */

.contentstop2 {
	width: 100％;
	display: block;
	margin: auto;
}
.tokubox2 {
	display: block;
	max-width: 760px;
	width: 100%;
	border: none;
	box-sizing: border-box;
}
	.tokubox2 .cont-box {
		display: block;
		border: none;
		box-sizing: border-box;
		width: 50%;
		float: left;
	}
	.contents21 p {
	padding:5px;
	font-size: 12px;
	color: #494949;
	line-height: 1.7em;
	margin: 0;

	}
