	 /*--商品検索---*/
#shouhinkensaku {
 padding:0px;
 margin-bottom:10px;
 width:99%;
 background-color:#ddd;
 border:#888 1px solid;
}
#shouhinkensaku .asotext {
 float:left;
 width:80%;
 height:30px;
 border:1px solid #CCC;
 text-indent:10px;
 margin-right:0px;
 border-radius:10px;
}
#shouhinkensaku .btn {
 float:left;
 padding-top:0px;
}
