@charset "UTF-8";
/* CSS Document */

.mt18002 {
	background-image:url(https://image.rakuten.co.jp/asoboze/cabinet/kawakomono/mt18002/2019/mt18002_32.jpg); 
	width:1200px; 
	height:550px; background-repeat: no-repeat; position:relative; background-size: contain;
	
}

.mt18002 .inner {
	position: absolute; left: 720px; top: 146px;
	width: 400px;
}

.walpac {
	background:url(https://image.rakuten.co.jp/asoboze/cabinet/kawakomono/kg-y167/1200ver/kg-y167_03b.jpg); width:1200px; height:548px; position:relative;
}

.walpac .inner {
	position: absolute; width:350px; top:200px; left:0; right:0; margin:auto;
}

.walpac2 {
	background: url(https://image.rakuten.co.jp/asoboze/cabinet/kawakomono/kg-y167/1200ver/kg-y167_06.jpg); width: 1200px; height: 10px; position: relative; bottom: -10px;
}

.walpac2 .inner {
	position: absolute; width:500px; top:150px;
}

.walpac3 {
	background:url(https://image.rakuten.co.jp/asoboze/cabinet/kawakomono/kg-y167/1200ver/kg-y167_07.jpg); width:1200px; height:637px; position:relative;
}

.walpac3 .inner {
	position:absolute; width:600px; top:20px;
}

@media screen and (max-width:1200px) {
	.mt18002 {
			background-image:url(https://image.rakuten.co.jp/asoboze/cabinet/kawakomono/mt18002/2019/mt18002_32.jpg); width: 760px; height: 348px; background-repeat: no-repeat; position:relative; background-size: contain;	
	}
	.mt18002 .inner {
    position: absolute;
    left: 454px;
    top: 90px;
    width: 250px;
	}
	
	.walpac { 
	background:url(https://image.rakuten.co.jp/asoboze/cabinet/kawakomono/kg-y167/1200ver/kg-y167_03b.jpg); width:760px; height:347px; position:relative; background-size:contain; background-repeat:no-repeat;
}

.walpac .inner {
	position: absolute; width:250px; top:130px; left:0; right:0; margin:	auto;
}
.walpac2 {
	background: url(https://image.rakuten.co.jp/asoboze/cabinet/kawakomono/kg-y167/1200ver/kg-y167_06.jpg); width: 760px; height: 10px; position: relative; bottom: -10px; position:relative; background-size:contain; background-repeat:no-repeat;
}

.walpac2 .inner {
	position: absolute; width:317px; top:95px;
}

.walpac3 {
	background:url(https://image.rakuten.co.jp/asoboze/cabinet/kawakomono/kg-y167/1200ver/kg-y167_07.jpg); width:760px; height:403px; position:relative;
	position:relative; background-size:contain; background-repeat:no-repeat;
}

.walpac3 .inner {
	position:absolute; width:400px; top:20px;
}

}
