@charset "UTF-8";
/* CSS Document */

.mt18002 {
	background-image:url(https://image.rakuten.co.jp/asoboze/cabinet/kawakomono/mt18002/2019/mt18002_32.jpg); 
	width:1200px; 
	height:550px; background-repeat: no-repeat; position:relative; background-size: contain;
	
}

.mt18002 .inner {
	position: absolute; left: 720px; top: 146px;
	width: 400px;
}

@media screen and (max-width:1200px) {
	.mt18002 {
			background-image:url(https://image.rakuten.co.jp/asoboze/cabinet/kawakomono/mt18002/2019/mt18002_32.jpg); width: 760px; height: 348px; background-repeat: no-repeat; position:relative; background-size: contain;	
	}
	.mt18002 .inner {
    position: absolute;
    left: 454px;
    top: 90px;
    width: 250px;
	}
}
