@charset "UTF-8";
/* CSS Document */


        body {
	margin: 0;
	display: block;
	overflow-y: inherit;
        }
        #aso_2021container {
            width: 100%;
            color: #3e3a39;
            overflow-x: hidden;
        }
        #aso_2021container img {
            width: 100%;
            display: block;
            margin: 0;
            padding: 0;
        }        
            .aso_base_headline div{
	font-size: 6vw;
	font-weight: bold;
	padding-top: 6.6vw;
	padding-bottom: 16px;
            }
            .aso_base_headlinetext {
	font-size: 24px;
	font-weight: 400;
	padding-left: 3.4vw;
	display: none;
            }
           .aso_itemmain {
	position: relative;
	height: auto;
	width: auto;
           }
           .aso_itemmain div {
	font-size: 3vw;
	text-align: center;
	margin: 0 auto 1.2vh;               
           }
           .aso_itemmain div.aso_itemmain_img {
	margin-top: 8vw;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 39px;
	overflow-x: scroll !important;
	scroll-snap-type: x mandatory;
	-ms-overflow-style: none;    /* IE, Edge 対応 */
	scrollbar-width: none;       /* Firefox 対応 */
           }
        .aso_itemmain div.aso_itemmain_img::webkit-scroll-bar {
            display: none;
        }
        #aso_2021container .aso_itemmain_img p:nth-child(1) img {
            padding-left: 23vw;
        }
        #aso_2021container .aso_itemmain_img p:last-child {
            padding-right: 20vw;
        }
           #aso_2021container .aso_itemmain_img img {
	width: 55vw;
	scroll-snap-align: start;
           }
           .aso_itemmain div.aso_itemmain_catch {
	font-size: 6vw;
	text-align: center;
	line-height: 10vw;
	color: #000000;
	width: max-content;
	margin: 0 auto 3.6vh;
	font-weight: bold;
           }
           .aso_itemmain div.aso_itemmain_name {
	color: #727171;
	font-size: 4vw;
           }
            .aso_itemmain div.aso_itemmain_spec {
	color: #727271;
	border: 1px solid #727171;
	width: max-content;
	padding: 0.1em 2.4em;
	margin-bottom: 1.5em;
	font-size: 4vw;
            }
           .aso_itemmain div.aso_itemmain_setsumei {
	color: ##000000;
	margin: 0 auto 2em;
	font-size: 4vw;
	padding: 0 7vw;
	text-align: left;
           }
            .aso_itemmain div.aso_itemmain_pricecolor {
                margin: 0 auto 70px;
                position: relative;
            }            
           .aso_itemmain div.aso_itemmain_price {
	font-size: 5vw;
	color: #000000;
	margin-bottom: 1.3vh;
           }
           .aso_itemmain div.aso_itemmain_price .tax {
	font-size: 3vw;
           }

           .aso_itemmain div.aso_itemmain_japan {
	position: absolute;
	left: 73vw;
	width: 14vw;
	top: -2vw;
           }
        .aso_itemmain div.aso_itemmain_japan img {
            width: 100% !important;
        }
            .aso_itemcontent img {
                margin: 0;
                display: block;
                padding: 0;
            }
            .aso_itemdetail_storage,.aso_gallery,.aso_hosoku,.aso_media,.aso_itemdetail_size {
	padding: 0 3.4vw;
	width: 100%;
	box-sizing: border-box;
	display: block;
            }
            .aso_gallery {
                margin-bottom: 30vw;
                overflow-y:visible;
            }
            .aso_itemdetail_storage {
	padding-bottom: 14vh;
	margin-top: 15vw;
            }            
            .aso_itemdetail_size {
	background: #dedede;
	padding-bottom: 7.9vw;
	position: relative;
            }
            .aso_itemdetail_size_text {
	font-size: 2.5vw;
	font-weight: bold;
	line-height: 5vw;
	text-align: left;
                border-top: 1px solid #3e3a39;
                padding-top: 6vw;
                margin-top: 10vw;
            }
            .aso_itemdetail_size_text th {
	vertical-align: top;
	width: 17vw;
                padding: 0;
            }
        .aso_itemdetail_size_text td {
            width: auto;
        }        
        .aso_itemdetail_size_text tr:nth-child(4) td th {
            width: 10em;
        }        
        .aso_itemdetail_size_text tr:nth-child(7) td th {
            width: 5em;
        }        
            .aso_itemdetail_size_detail {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 2vw;
                grid-row-gap: 2vw;
            }
.aso_itemdetail_size .aso_itemdetail_size_detail div:last-child {
    display: none;
}
            .aso_relatecontents {
                margin-top: 20px;
                border-top: 1px solid #808080;
                padding-top: 20px;

            }
            .aso_relatecontents div {
                display: inline-block;
                overflow: inherit;
                height: 30vw;
                margin-right: 2vw;
                float: left;
            }
            .aso_relatecontents div a {
                display: inline-block;
                margin: 0;
                height: 100%;
                padding: 0;
            }
        #aso_2021container .aso_relatecontents div a img{
                height: 100%;
                width: auto;
                margin: 0;
                padding: 0;
            }
            .aso_media_contents {
                font-size: 3vw;
                line-height: 7vw;
                padding-bottom: 12vw;
            }
 
            .aso_series {
                margin-top: 5vw;
                width: 100%;
                height: 100%;
            }
            .aso_series_title {
                width: 50vw;
                margin: auto;
            }
            .aso_series_title img {
                width: 100%;
            }
        
            .aso_common_container div {
	font-weight: bold;
            }
            .aso_recommend {
	background-color: #D9D7D6;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
            }
            .aso_common_container .aso_common_head {
                margin: 0 auto 0;
                padding-top: 15vw;
                width: max-content;
                text-align: center;
                font-size: 24px;
                font-weight: bold;
            }
        .aso_recommend_items_container {
            width: 100vw;
            scroll-snap-type: x mandatory;
            overflow-x: scroll !important;
            	-ms-overflow-style: none;    /* IE, Edge 対応 */
	scrollbar-width: none;       /* Firefox 対応 */

        }
        .aso_recommend_items_container::webkit-scroll-bara {
            display: none;
}
            .aso_recommend_items {
	display: grid;
	padding-top: 14vw;
	padding-bottom: 18vw;
	grid-template-columns: 80vw 60vw 80vw;
	font-size: 4.5vw;
                grid-column-gap: 10vw;
            }
        .aso_recommend_item {
                scroll-snap-align: center;
        }
        .aso_recommend_item:first-child {
            padding-left: 20vw;
        }
        .aso_recommend_item:last-child {
            padding-right: 20vw;
        }
            .aso_recommend_item_img img {
                width: 100%;
            }
        .aso_recommend_item_colors {
            width: max-content;
            margin: 0 auto;
            transform: translateY(-10px);
        }
            .aso_reccomend_item_color {
                width: 23px;
                height: 23px;
                background-color: #3D3D3E;
                border-radius: 50%;
                display: block;
                box-sizing: content-box;
            }
            .aso_recommend_item_names {
                width: max-content;
                margin: 12vw auto 3vw;
                line-height: 26px;
            }
            .aso_recommend_item_name_jpn {
                display: block;
                font-weight: 400;
                font-size: 4vw;
                text-align: center;
            }
            .aso_recommend_item_price {
                width: max-content;
                margin: auto;
                text-align: center;
                padding-left: 1em;
            }
		.contents_container2021 img {
				width: 100%;
			}
			.betsu_setsumei {
				margin: 55px 20px 22px;
				font-size: 16px;
			}
		.betsu_setsumei_honbun {
			margin-bottom: 50px;
			    line-height: 1.8em;
		}
		.betsu_setsumei .betsu_setsumei_honbun {
			margin:  0 20px 50px;
}
		.betsu_setsumei_number {
			font-size: 60px;
			margin-bottom: 19px;
			font-weight: bold;
		}
		.betsu_setsumei_midashi {
			font-size: 23px;
			font-weight: bold;
			margin: 0 20px 20px;
		}
			.betsu_setsumei_images {
				margin:  0 14px;
				border-top: 1px solid #808080;
			}
		.betsu_setsumei_images_title {
			margin: 30px 0 10px;
			font-size: 16px;
			width: 100%;
			text-align: center;
			font-weight: bold;
		}
		.betsu_setsumei_images_table {
			display: grid;
			width: 100%;
			grid-template-columns:  1fr 1fr;
			grid-column-gap: 7px;
			grid-template-rows: auto;
			grid-row-gap: 11px;
			margin-bottom: 13px;
		}
		.betsu_setsumei_images_disc {
			font-size: 14px;
			margin-bottom: 42px;
		}
				.betsu_setsumei_images_table .betsu_setsumei_images_disc {
					margin: 13px 0 11px;
		}
		.betsu_setsumei_images_table01 .betsu_setsumei_image01 {
			grid-column-start: 1;
			grid-column-end: 3;
		}
		.betsu_setsumei_images_table02 .betsu_setsumei_image01 {
			grid-column-start: 1;
			grid-column-end: 3;
		}
		.betsu_setsumei_images_table03 {
			display: grid;
			width: 100%;
			grid-template-columns:  auto;
			grid-column-gap: 7px;
			grid-template-rows: auto;
			grid-row-gap: 11px;
			margin-bottom: 13px;
		}
		.designer_diary {
			background-color: #E9EAEA;
			padding: 27px 11px;
		}
		.designer_diary_title {
			background-color: #939394;
			text-align: center !important;
			height: 40px;
			line-height: 40px;
			display: block;
			color: #ffffff;
		}
		.designer_diary_honbun {
			margin: 24px 0 38px;
			
		}
		.designer_diary_honbun ol {
			margin: 0;
			padding-inline-start: 11px;
			margin-inline-start: 11px;
		}
		.designer_diary_grid {
			display: grid;
			width: 100%;
			grid-template-columns: 1fr 1fr;
			grid-gap: 8px;
			text-align: center;
		}
		.designer_diary_grid_image01 {
			grid-column-start: 1;
			grid-column-end: 1;
		}
		.designer_diary_grid_image02 {
			grid-column-start: 2;
			grid-column-end: 2;
		}
		.designer_diary_grid_text {
			font-size: 14px;
			text-align: center;
			margin-bottom: 12px;
			font-weight: bold;
		}
		.designer_diary_text {
			margin-top: 8px;
			margin-bottom: 14px;
		}
		.vegan {
			margin-top: 30px;
			font-size: 16px;
			margin-bottom: 7px;
		}
		.vegan p:first-child {
			margin-bottom: 6px;
			font-weight: bold;
		}
		.komejirushi {
			font-size: 14px;
			margin-bottom: 35px;
		}
		.betsu_setsumei_nakami,.betsu_setsumei_nakami_comment {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.betsu_setsumei_nakami ul {
			list-style-type: "・";
			margin-block-start: 0.5rem;
			padding-inline-start: 1rem;
		}
	/* みんなのレジルひろば*/
			.hiroba_wrap {
				overflow: initial;
				margin-bottom: 100px;
			}
			.hiroba_wrap div:first-child {
				margin-top: 0;
			}
			.hiroba_review {
				max-width: 96vw;
				background-repeat: no-repeat;
				background-size: calc(25% - 10px);
				width: 90%;
				font-size: 12px;
				margin: 40px 2vw;				
			}
		.hiroba_wrap .hiroba_review_text {
			margin-bottom: 20px;
			text-overflow: ellipsis;
		}
		.hiroba_review_text_closed {
			height: 100px;
		}
			.arrow01.hiroba_review {
				background-position: left bottom;
			}
			.arrow02.hiroba_review {
				background-position: right bottom;
			}
			.hiroba_review_good_woman {
				background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/regile/icon00003_woman_like.jpg);
			}
			.hiroba_review_bad {
				background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/regile/icon00001_dislike.jpg);
			}
			.hiroba_review_good_man {
				background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/regile/icon00002_men_like.jpg);
			}
			.hiroba_review_idea_man {
				background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/regile/icon00005_men_idea.jpg);
			}
			.hiroba_review_idea_woman {
				background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/regile/icon00005_woman_idea.jpg);
			}
			.hiroba_review_gift {
				background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/regile/icon00004_gift.jpg);
			}
		.arrow_box{
    position:relative;
    padding:20px;
    border:2px solid #5C5C5C;
    color:#393939;
			width: 75%;
			height: max-content;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
			line-height: 1.5em;
}
			.arrow_box .review_person {
				color: #505050;
				display: block;
				z-index: 100;
			}
.arrow_box:after,.arrow_box:before{
    border: solid transparent;
    content:'';
    height:0;
    width:0;
    pointer-events:none;
    position:absolute;
    bottom:20px;
}
			.arrow01 .arrow_box:after, .arrow01 .arrow_box:before{
    right:100%;				
			}
			.arrow02 .arrow_box:after, .arrow02 .arrow_box:before{
    left:100%;				
			}
.arrow_box:after{
    border-color: rgba(255, 255, 255, 0);
    border-top-width:10px;
    border-bottom-width:10px;
    border-left-width:10px;
    border-right-width:10px;
    margin-top: -10px;
}
.arrow_box:before{
    border-color: rgba(92, 92, 92, 0);
    border-top-width:12px;
    border-bottom-width:12px;
			}
			.arrow01 .arrow_box:before{
    border-left-width:12px;
    border-right-width:12px;
    margin-top: -12px;
    margin-right: 2px;				
    border-right-color:#5C5C5C;
			}
			.arrow01 .arrow_box:after {
				    border-right-color:#FFFFFF;
			}
			.arrow02 .arrow_box:after {
				    border-left-color:#FFFFFF;
			}
				.arrow02 .arrow_box:before{
    border-left-width:12px;
    border-right-width:12px;
    margin-top: -12px;
    margin-left: 2px;			
    border-left-color:#5C5C5C;
			}
		
			.arrow02 .arrow_box:after, .arrow02 .arrow_box:before{
    left:100%;				
			}
		
			.arrow01  >  div{
				margin-left: auto;
				margin-right: 0;
			}
			.arrow02  >  div{
				margin-left: 0;
				margin-right: auto;
			}
		.cp_box *, .cp_box *:before, .cp_box *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.cp_box {
	position: relative;
	padding-bottom: 70px
}
.cp_box label {
	position: absolute;
	z-index: 1;
	bottom: 0;
	height: 100%; /* グラデーションの高さ */
	cursor: pointer;
	text-align: center;
	/* 以下グラデーションは背景を自身のサイトに合わせて設定してください */
	background: linear-gradient(to bottom, rgba(250, 252, 252, 0) 0%, rgba(250, 252, 252, 0.65) 30%);
	background-position: center center;
left: 1%;
	width: 98%;
				transition: all 1s;
				-webkit-transition: all 1s -webkit-transform ease;
	
}
.cp_box input:checked + label {
	background: inherit; /* 開いた時にグラデーションを消す */
				transition: all 1s;
				-webkit-transition: all 1s -webkit-transform ease;
	
}
.cp_box label:after {
	line-height: 2.5rem;
	position: absolute;
	z-index: 2;
	bottom: 20px;
	left: 50%;
	width: 7rem;
	content: ' 開く';
	transform: translate(-50%, 0);
	letter-spacing: 0.05em;
	color: #ffffff;
	border-radius: 20px;
	background-color: rgba(27, 37, 56, 1);
}
.cp_box input {
	display: none;
}
div.cp_box div.cp_container {
	overflow: hidden;
	max-height: 70px; /* 開く前に見えている部分の高さ */
				transition: all .2s;
				-webkit-transition: all .2s -webkit-transform ease;
	
}
.cp_box input:checked + label {
/*	display: none ; */
}
.cp_box input:checked + label:after {
	content:' 閉じる';
}
.cp_box input:checked ~ .cp_container {
	max-height: 200vh;
				transition: all 1s;
				-webkit-transition: all 1s -webkit-transform ease;
	
/* 	padding-bottom: 80px; 閉じるボタンのbottomからの位置 */
}
.cp_box label:before {
	content: "…";
position: absolute;
top: 90px;
left: 18px;
opacity: 0.3;
				transition: all 1s;
				-webkit-transition: all 1s -webkit-transform ease;
}
.cp_box input:checked + label:before {
	display: none;
	opacity: 0;
	content: "";
}

.kuwashikumiru {
	margin-bottom: 20px;
}

/* タフトラップ　別ページ  */
		.toftwrap_03contents .text p{
			font-size: 16px;
		}
			p.text_title {
				font-size: 24px;
				font-weight: bold;
			}
			.makuake {
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: auto;
			}
			.makuake_img {
				width: 97px;
				margin: 20px  auto;
			}
			.makuake .toftsack {
				grid-row: 1;
			}
			.text {
				padding-bottom: 22px;
				padding-left: 20px;
				padding-right: 20px;
			}
			.text_title {
				padding: 17px 0 14px;
			}

/* タフトラップ　別ページ  */

