@charset "UTF-8";
/* CSS Document */
#aso_2021container {
    width: 100vw;
    transform: translateX(-40px);
}

        #aso_2021container img {
            width: 100%;
        }
            .aso_base_headline div{
                font-size: 2.5vw;
                font-weight: bold;
                padding-top: 8vw;
                padding-bottom: 16px;
            }
            .aso_base_headlinetext {
                font-size: 24px;
                font-weight: 400;
                padding-left: 3.95vw;
            }
           .aso_itemmain {
               width: 94vw;
               height: 100vh;
               position: relative;
           }
           .aso_itemmain div {
               font-size: 24px;

               text-align: center;
               margin: 0 auto 1vw;
               
           }
           .aso_itemmain div.aso_itemmain_img {
               width: max-content;
               margin: 8vw auto 5vw;
               display: grid;
               grid-template-columns: 1fr 1fr;
               grid-column-gap: 39px;
           }
.aso_itemmain div.aso_itemmain_img.color_1 {
    grid-template-columns: 1fr;
}
           .aso_itemmain_img img {
               width: 13.4vw;
               min-width: 150px;
               max-width: 265px;
           }
           .aso_itemmain div.aso_itemmain_catch {
               font-size: 48px;
               text-align: center;
               line-height: 73px;
               color: #000000;
               width: max-content;
               margin: 0 auto 34px;
               font-weight: bold;
           }
           .aso_itemmain div.aso_itemmain_name {
               color: #727171;
           }
            .aso_itemmain div.aso_itemmain_spec {
                color: #727271;
                border: 1px solid #727171;
                width: max-content;
                padding: 0.1em 2.4em;
                margin-bottom: 1.5em;
            }
           .aso_itemmain div.aso_itemmain_setsumei {
               color: #000000;
               margin: 0 auto 2em;
           }
            .aso_itemmain div.aso_itemmain_pricecolor {
                margin: 0 auto 100px;
                position: relative;
            }            
           .aso_itemmain div.aso_itemmain_price {
               font-size: 36px;
               color: #000000;
               margin-bottom: .6vw;
           }
           .aso_itemmain div.aso_itemmain_price .tax {
               font-size: 24px;
           }

           .aso_itemmain div.aso_itemmain_japan {
               position: absolute;
               top: 10px;
               left: calc(50vw + 200px);
               width: 70px;
           }
            .aso_itemcontent img,.aso_series_banner img  {
                margin: 0;
                display: block;
                padding: 0;
            }
            .aso_itemdetail_storage,.aso_gallery,.aso_hosoku,.aso_media,.aso_itemdetail_size,.aso_itemdetail_package {
                padding: 0 18vw;
                width: 100%;
                display: block;
            }
            .aso_gallery {
                overflow: hidden !important;
            }
            .aso_itemdetail_storage {
                padding-bottom: 8vw;
            }            
            .aso_itemdetail_size {
                background: #e6e6e6;
                padding-bottom: 7.9vw;
                position: relative;
            }
            .aso_itemdetail_size_text {
                font-size: 14px;
                position: absolute;
                top: 37vw;
                right: 10vw;
                font-weight: bold;
                line-height: 24.5px;
                text-align: left;
            }
            .aso_itemdetail_size_text th {
                padding-right: 1em;
                vertical-align: top;
            }
            .aso_itemdetail_size_text td th {
                padding-right: 0;
            }
            .aso_itemdetail_size_detail {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-column-gap: 19px;
                grid-row-gap: 20px;
                overflow: hidden !important;
            }
            .aso_relatecontents {
                margin-top: 20px;
                border-top: 1px solid #808080;
                padding-top: 20px;

            }
            .aso_relatecontents div {
                display: inline-block;
                overflow: inherit;
                height: 20vw;
                margin-right: 20px;
                float: left;
            }
            .aso_relatecontents div a {
                display: inline-block;
                margin: 0;
                height: 100%;
                padding: 0;
            }
        #aso_2021container .aso_relatecontents div a img{
                height: 100%;
                width: auto;
                margin: 0;
                padding: 0;
            }
            .aso_media_contents {
                font-size: 24px;
                line-height: 48px;
                padding-bottom: 7vw;
            }
            .aso_media_contents_name {
                font-size: 36px;
            }
            .aso_series {
                margin-top: 113px;
                width: 100%;
                height: 100%;
            }
            .aso_series_title {
                width: 22.9vw;
                margin: auto;
            }
            .aso_series_title img {
                width: 100%;
            }
            .aso_common_container div {
                font-weight: bold;
                overflow: hidden !important;
            }
            .aso_recommend {
                background-color: #D9D7D6;
            }
            .aso_common_head {
                margin: 56px auto 0;
                width: max-content;
                text-align: center;
                font-size: 24px;
                font-weight: bold;
            }
            .aso_recommend_items {
                display: grid;
                width: min-content;
                padding: 69px 18vw;
                grid-template-columns: 210px 210px 210px;
                grid-column-gap: 7.8vw;
                font-size: 18px;
                margin: auto;
            }
            .aso_recommend_item {
            }
            .aso_recommend_item_img {
                width: 210px;
            }
            .aso_recommend_item_img img {
                width: 100%;
            }
            .aso_reccomend_item_color {
                width: 30px;
                height: 30px;
                background-color: #3D3D3E;
                border-radius: 50%;
                display: block;
                margin: 12px auto;
            }
            .aso_recommend_item_names {
                width: max-content;
                margin: 29px auto 26px;
                line-height: 26px;
            }
            .aso_recommend_item_name_jpn {
                display: block;
                font-weight: 400;
            }
            .aso_recommend_item_price {
                width: max-content;
                margin: auto;
                text-align: center;
                padding-left: 1em;
            }
		.aso_itemmain_plus {
			position: absolute;
			top: 40px;
			left: 50vw;
			max-width: 332px;
			width: 30vw;
		}
	_::-webkit-full-page-media, _:future, :root .aso_itemmain_plus {
			top: calc(-7vw - 300px);
}

/*Safariだけに適用されるCSSハック*/
@media screen and (-webkit-min-device-pixel-ratio:0)  {
  ::i-block-chrome, 
    .aso_itemmain_plus {
			position: absolute;
			top: 40px;
			left: 50vw;
			max-width: 332px;
			width: 30vw;
	}
}	


/*Safariだけに適用される新型CSSハック*/
_::-webkit-full-page-media, _:future, :root .aso_itemmain_plus {
position: absolute;
			top: 40px;
			left: 50vw;
			max-width: 332px;
			width: 30vw;
}
		.aso_othersizes {
			width: 100%;
			height: 150px;
			background-color: #c3c3c3;
			font-weight: bold;
		}
		.aso_othersizes_text {
			line-height: 150px;
			width: max-content;
			margin: auto;
			font-weight: bold;
		}
		.aso_othersizes_info {
			font-weight: bold;
			border: 1px solid #000;
			padding: 10px 55px;
			height: 45px;
			margin-right: 40px;
		}
		.aso_othersizes_link a {
			border: 1px solid #000;
			font-weight: bold;
			border-radius: 45px;
			height: 45px;
			padding: 10px 55px;
			margin-left: 70px;
			color: inherit;
			text-decoration: none;
			transition-duration: .2s;
		}
		.aso_othersizes_link a:hover {
			background-color: #333;
			color: #c3c3c3;
		}
	#pagebody div.aso_storage_othersizes {
			width: 100%;
			margin-top: 45px;
			overflow: hidden;
		}
		.aso_storage_othersizes01 {
			width: max-content;
			float: left;
			max-width: 35vw;
		}
		.aso_storage_othersizes02 {
			width: max-content;
			height: 100%;
			float: right;
		}
				.aso_storage_othersizes02 a {
			border: 1px solid #000;
			border-radius: 22.75px;
					display: block;
			padding: 10px 35px;
			color: inherit;
					overflow: visible;
			text-decoration: none;
			transition-duration: .2s;
		}
		.aso_storage_othersizes02 a:hover {
			background-color: #333;
			color: #fff;
		}
		.aso_itemdetail_package_detail {
			width: 100%;
			display: grid;
			grid-template-columns: 66% calc(33% - 10px);
			grid-gap: 20px;
			grid-template-rows: auto;
		}
		.aso_itemdetail_package_detail div:nth-child(1) {
			grid-column: 1 / 2;
			grid-row: 1 / 3;
			width: 100%;
			height: auto;
		}
		.aso_itemdetail_package_detail div:nth-child(2) {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			width: 100%;
			height: auto;
		}
		.aso_itemdetail_package_detail div:nth-child(3) {
			grid-column: 2 / 3;
			grid-row: 2 / 3;
			width: 100%;
			height: auto;
		}
		.contents_container2021 img {
				width: 100%;
			}
			.betsu_setsumei {
				margin: 6vw  auto 15px;
				font-size: 16px;
				max-width: 1260px;
				width: 90%;
			}
		.betsu_setsumei_honbun {
			margin-bottom: 50px;
			font-size: 24px;
			    line-height: 1.8em;
		}
		.betsu_setsumei_number {
			font-size: 120px;
			margin-bottom: 30px;
			width: max-content;
			font-weight: bold;
			display: table-cell;
			vertical-align: top;
		}
		.betsu_setsumei_midashi {
			display: table;
			margin-bottom: 30px;
		}
			.betsu_setsumei_title {
			padding-left: 65px;
				padding-top: 10px;
			font-weight: bold;
				display: table-cell;
				vertical-align: middle;
				font-size: 36px;
			}
			.betsu_setsumei_2board {
				display: table;
				border-collapse: separate;
				border-spacing: 39px;
				margin: 0 auto;
				max-width: 1299px;
				    width: calc(90% + 39px)
			}
			.betsu_setsumei_2board .betsu_setsumei_images {
				display: table-cell;
				border-top: none;
			}
			.betsu_setsumei_images {
				margin:  0 auto;
				border-top: 1px solid #808080;
				max-width: 1260px;
			}
			.betsu_setsumei_images.noborder {
				border-top: none;
				width: 90%;
			}
		.betsu_setsumei_images_title {
			margin: 30px 0 10px;
			font-size: 24px;
			width: 100%;
			font-weight: bold;
    		text-align: center;
		}

			.betsu_setsumei_images_table {
			display: grid;
			width: 100%;
			grid-template-columns:  1fr 1fr;
			grid-column-gap: 7px;
			grid-template-rows: auto;
			grid-row-gap: 11px;
			margin-bottom: 13px;
		}
		.betsu_setsumei_images_disc {
			font-size: 21px;
			margin-bottom: 42px;
		}
				.betsu_setsumei_images_table .betsu_setsumei_images_disc {
					margin: 13px auto 11px;
					width: 100%;
					max-width: 1260px;
		}
		.betsu_setsumei_images_table01 .betsu_setsumei_image01 {
			grid-column-start: 1;
			grid-column-end: 3;
		}
		.betsu_setsumei_images_table02 .betsu_setsumei_image01 {
			grid-column-start: 1;
			grid-column-end: 3;
		}
					.betsu_setsumei_images_table02 .betsu_setsumei_image01.naisou {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 63px;
						margin-bottom: 100px;
			}
			.betsu_setsumei_images_table02 .betsu_setsumei_image01.naisou img {
				grid-column: 2 / 3;
			}
			.betsu_setsumei_images_table02 .betsu_setsumei_image01.naisou div {
				grid-column: 1 / 2;
				grid-row: 1;
			}
			.betsu_setsumei_images_table02 .betsu_setsumei_image01.naisou div.betsu_setsumei_images_disc {
				display: table;
				height: 100%;
			}			
			.betsu_setsumei_images_table02 .betsu_setsumei_image01.naisou div.betsu_setsumei_images_disc div {
				display: table-cell;
				vertical-align: top;
			}
			.betsu_setsumei_images_table03 {
			display: grid;
			width: 100%;
			max-width: 1260px;
			grid-template-columns:  1fr 1fr;
			grid-column-gap: 32px;
			grid-template-rows: auto;
			grid-row-gap: 11px;
			margin: 0 auto 13px;
		}
			.betsu_setsumei_images_table03 .betsu_setsumei_image03{
				grid-column: 1 / 3;
				margin: auto;
			}
		.designer_diary {
			background-color: #E9EAEA;
			padding: 95px 0;
		}
			.designer_diary_wraper {
				max-width: 1260px;
				margin: 0 auto;
			display: grid;
			grid-template-columns: 248px 1fr;
			grid-column-gap: 23px;
			grid-row-gap: 7px;
				width: 90%;
			}
		.designer_diary_title {
			background-color: #939394;
			text-align: center !important;
			height: 108px;
			margin: 5px auto 0;
			width: 248px;
			display: table-cell;
			vertical-align: middle;
			font-size: 36px;
			display: block;
			color: #ffffff;
			line-height: 1.2em;
		   padding-top: 9px
		}
		.designer_diary_honbun {
			margin: 0 0 0 78px;
			font-size: 24px;
		}
		.designer_diary_honbun ol {
			margin: 0;
			padding-inline-start: 1em;
		}
		.designer_diary_grid {
			display: grid;
			width: 100%;
			grid-column: 1 / 3;
			grid-template-columns: 248px 1fr 1fr;
			grid-gap: 8px;
			margin-top: 32px;
			text-align: center;
		}
		.designer_diary_grid_image01 {
			grid-column-start: 2;
			grid-column-end: 2;
		}
		.designer_diary_grid_image02 {
			grid-column-start: 3;
			grid-column-end: 3;
		}
			.designer_diary_angle {
				margin:auto;
				font-size: 24px;
			}
		.designer_diary_grid_text {
			font-size: 24px;
			text-align: center;
			font-weight: bold;
			margin-bottom: 12px;
		}
		.designer_diary_text {
			margin-top: 32px;
			font-size: 24px;
			margin-bottom: 0;
			grid-column: 2 / 3;
		}
		.vegan {
			margin-top: 30px;
			font-size: 24px;
			margin-bottom: 1em;
		}
		.vegan p:first-child {
			margin-bottom: 6px;
			font-weight: bold;
			margin-top: 60px;
		}
			.betsu_shuno_grid .vegan p:first-child {
				margin-top: 0;
			}
			.betsu_shuno_grid .vegan {
				margin-bottom: 0;
			}			
		.komejirushi {
			font-size: 20px;
			margin-bottom: 35px;
		}
			.betsu_shuno_grid .betsu_setsumei_images_table01 .betsu_setsumei_image01 {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-column-gap: 12px;
			}
			.betsu_shuno_grid .betsu_setsumei_images_table .betsu_setsumei_images_disc {
				grid-column: 1 / 4;
			}
			.betsu_shuno_grid .betsu_setsumei_images_table01 .betsu_setsumei_image01 .betsu_setsumei_nakami01 {
				grid-column: 1 / 2;
				grid-row: 3;
			}			
			.betsu_shuno_grid .betsu_setsumei_images_table01 .betsu_setsumei_image01 .betsu_setsumei_nakami02 {
				grid-column: 2 / 3;
				grid-row: 3;
			}			
			.betsu_shuno_grid .betsu_setsumei_images_table01 .betsu_setsumei_image01 .betsu_setsumei_nakami03 {
				grid-column: 3 / 4;
				grid-row: 3;
			}			
			.betsu_shuno_grid .betsu_setsumei_images_table01 .betsu_setsumei_image01 .betsu_setsumei_nakami {
				grid-column: 1 / 4;
				grid-row: 2;
				margin-top: 0;
				margin-bottom: 18px;
			}	
			.betsu_shuno_grid .betsu_setsumei_images_table01 .betsu_setsumei_image01 .betsu_setsumei_nakami_comment {
				grid-column: 1 / 4;
				grid-row: 4;
				margin-top: 40px;
				margin-bottom: 48px;
			}						
		.betsu_setsumei_nakami,.betsu_setsumei_nakami_comment {
			margin-top: 20px;
			margin-bottom: 20px;
			font-size: 24px;
		}
		.betsu_setsumei_nakami ul {
			list-style-type: "・";
			margin-block-start: 0.5rem;
			padding-inline-start: 1rem;
		}


/* みんなのレジルひろば*/
			.hiroba_wrap {
				overflow: initial;
				margin-bottom: 100px;
			}
			.hiroba_wrap div:first-child {
				margin-top: 0;
			}
			.hiroba_wrap div{
				overflow: inherit;
			}
			.hiroba_review {
				max-width: 80vw;
				background-repeat: no-repeat;
				background-size: calc(15% - 10px);
				width: 90%;
				margin: 60px auto;				
			}
			.arrow01.hiroba_review {
				background-position: left bottom;
			}
			.arrow02.hiroba_review {
				background-position: right bottom;
			}
			.hiroba_review_good_woman {
				background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/regile/icon00003_woman_like.jpg);
			}
			.hiroba_review_bad {
				background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/regile/icon00001_dislike.jpg);
			}
			.hiroba_review_good_man {
				background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/regile/icon00002_men_like.jpg);
			}
			.hiroba_review_idea_man {
				background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/regile/icon00005_men_idea.jpg);
			}
			.hiroba_review_idea_woman {
				background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/regile/icon00005_woman_idea.jpg);
			}
			.hiroba_review_gift {
				background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/regile/icon00004_gift.jpg);
			}
		.arrow_box{
    position:relative;
    padding:2vw;
    border:2px solid #5C5C5C;
    color:#393939;
			width: 85%;
			max-width: 70vw;
			height: max-content;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}
			.arrow_box .review_person {
				line-height: 3em;
			}
.arrow_box:after,.arrow_box:before{
    border: solid transparent;
    content:'';
    height:0;
    width:0;
    pointer-events:none;
    position:absolute;
    bottom:50px;
}
			.arrow01 .arrow_box:after, .arrow01 .arrow_box:before{
    right:100%;				
			}
			.arrow02 .arrow_box:after, .arrow02 .arrow_box:before{
    left:100%;				
			}
.arrow_box:after{
    border-color: rgba(255, 255, 255, 0);
    border-top-width:10px;
    border-bottom-width:10px;
    border-left-width:10px;
    border-right-width:10px;
    margin-top: -10px;
}
.arrow_box:before{
    border-color: rgba(92, 92, 92, 0);
    border-top-width:12px;
    border-bottom-width:12px;
			}
			.arrow01 .arrow_box:before{
    border-left-width:12px;
    border-right-width:12px;
    margin-top: -12px;
    margin-right: 2px;				
    border-right-color:#5C5C5C;
			}
			.arrow01 .arrow_box:after {
				    border-right-color:#FFFFFF;
			}
			.arrow02 .arrow_box:after {
				    border-left-color:#FFFFFF;
			}
				.arrow02 .arrow_box:before{
    border-left-width:12px;
    border-right-width:12px;
    margin-top: -12px;
    margin-left: 2px;			
    border-left-color:#5C5C5C;
			}
		
			.arrow02 .arrow_box:after, .arrow02 .arrow_box:before{
    left:100%;				
			}
		
			.arrow01  >  div{
				margin-left: auto;
				margin-right: 0;
			}
			.arrow02  >  div{
				margin-left: 0;
				margin-right: auto;
			}

/* 2021レジル商品ページリニューアル */
		.aso_itemmain div.aso_itemmain_img.aso_itemmain_img.color_regile {

			grid-template-columns: 1fr;

			margin-top: 80px;

			margin-bottom: 53px;

}

		

		.aso_itemmain_img.color_regile img {

			max-width: 1068px;

		}

		.regile_itemmain_color {

			max-width: 495px;

		}

		.aso_itemmain div.regile_itemmain_japan {

			position: absolute;

top: 20px;

left: calc(55vw + 200px);

width: 70px;

		}

		.aso_itemmain div.aso_itemmain_price.regile_itemmain_price{

			margin-bottom: 26px;

		}

		.regile_othersizes {

			display: grid;

			width: 90vw;

			grid-template-columns: 1fr 1fr 1fr;

			max-width: 1341px;

			margin: 24px auto;

			grid-column-gap: 25px;

		}

		.regile_othersizes div {

			  display: flex;

  justify-content: center;

  align-items: center;

		}		

		.regile_othersizes div p {

			text-align: center;

			font-weight: bold;

			font-size: 1.3rem;;

			margin: auto;

		}

		.aso_gallery.regile_size_detail {

			padding: 0 8vw;

			margin-bottom: 100px;

		}

		.regile_size_detail .aso_itemdetail_size_detail {

			grid-template-columns: 1fr 1fr 1fr 1fr;

		}

		.aso_itemdetail_size.regile_itemdetail_size {

			padding-bottom: 0;

		}

		.regile_color_sukekan {

			grid-column: 1 / 4;

			

		}

		.regile_color_sukekan p {

			display: flex;

			justify-content: center;

			align-items: center;

			padding-top: 50px;

			padding-bottom: 30px;

		}

		.regile_color_sukekan p span {

			display: block;

			color: #fff;

			font-size: 1.4rem;

			background-color: #4C4948;

			width: 294px;

			height: 54px;

			text-align: center;

			line-height: 54px;

			border-radius: 27px;

		}
/* 2021レジル商品ページリニューアル */

/* タフトラップ　別ページ  */
			.toftwrap_03contents {

				display: grid;

				grid-template-columns: 1fr 1fr;

				grid-column-gap: 20px;

				grid-row: auto;

			}

			

		.toftwrap_03contents .text p{

			font-size: 24px;

		}

			.toftwrap_03contents .text {

				margin-bottom: 38px;

				padding-right: 20px;

			}

			.toftwrap_03contents p.text_title {

				font-size: 36px;

				font-weight: bold;

				padding: 28px 0;

			}			

			.makuake {

				display: grid;

				width: 100%;

				grid-template-columns: 1fr 1fr;

				grid-template-rows: 150px auto;

				grid-column-gap: 20px;

				grid-row-gap: 20px;

				margin-bottom: 60px;

				grid-column: 1 / 3;

			}

			.makuake .makuake_img {

				grid-row: 1 / 2;

				grid-column: 1 / 2;

			}

			.makuake .makuake_img img {

				height: 100%;

				width: auto;

				display: block;

				margin: auto;

			}

			.makuake .toftsack {

				grid-row: 1 /  3;

				grid-column: 2 / 3;

			}

			.toftwrap_03contents .eco {

				grid-column: 1 / 3;

				grid-row: 2;

			}

			.toftwrap_03contents .tough {

				grid-column: 1 / 2;

			}

			.tough_text_caution {

				padding-top: 15px;

			}



/* タフトラップ　別ページ  */

/* 特集ページ */
.pcContentstop2021 {
	width: 100vw;
}
.pcContentstop2021 img {
	width: 100%;
}