@charset "UTF-8";
/* CSS Document */


        body {
	margin: 0;
	display: block;
	overflow-y: inherit;
        }
        #aso_2021container {
            width: 100%;
            color: #3e3a39;
            overflow-x: hidden;
        }
        #aso_2021container img {
            width: 100%;
            display: block;
            margin: 0;
            padding: 0;
        }        
            .aso_base_headline div{
	font-size: 6vw;
	font-weight: bold;
	padding-top: 6.6vw;
	padding-bottom: 16px;
            }
            .aso_base_headlinetext {
	font-size: 24px;
	font-weight: 400;
	padding-left: 3.4vw;
	display: none;
            }
           .aso_itemmain {
	position: relative;
	height: auto;
	width: auto;
           }
           .aso_itemmain div {
	font-size: 3vw;
	text-align: center;
	margin: 0 auto 1.2vh;               
           }
           .aso_itemmain div.aso_itemmain_img {
	margin-top: 8vw;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 39px;
	overflow-x: scroll !important;
	scroll-snap-type: x mandatory;
	-ms-overflow-style: none;    /* IE, Edge 対応 */
	scrollbar-width: none;       /* Firefox 対応 */
           }
        .aso_itemmain div.aso_itemmain_img::webkit-scroll-bar {
            display: none;
        }
        #aso_2021container .aso_itemmain_img p:nth-child(1) img {
            padding-left: 23vw;
        }
        #aso_2021container .aso_itemmain_img p:last-child {
            padding-right: 20vw;
        }
           #aso_2021container .aso_itemmain_img img {
	width: 55vw;
	scroll-snap-align: start;
           }
           .aso_itemmain div.aso_itemmain_catch {
	font-size: 6vw;
	text-align: center;
	line-height: 10vw;
	color: #000000;
	width: max-content;
	margin: 0 auto 3.6vh;
	font-weight: bold;
           }
           .aso_itemmain div.aso_itemmain_name {
	color: #727171;
	font-size: 4vw;
           }
            .aso_itemmain div.aso_itemmain_spec {
	color: #727271;
	border: 1px solid #727171;
	width: max-content;
	padding: 0.1em 2.4em;
	margin-bottom: 1.5em;
	font-size: 4vw;
            }
           .aso_itemmain div.aso_itemmain_setsumei {
	color: ##000000;
	margin: 0 auto 2em;
	font-size: 4vw;
	padding: 0 7vw;
	text-align: left;
           }
            .aso_itemmain div.aso_itemmain_pricecolor {
                margin: 0 auto 70px;
                position: relative;
            }            
           .aso_itemmain div.aso_itemmain_price {
	font-size: 5vw;
	color: #000000;
	margin-bottom: 1.3vh;
           }
           .aso_itemmain div.aso_itemmain_price .tax {
	font-size: 3vw;
           }

           .aso_itemmain div.aso_itemmain_japan {
	position: absolute;
	left: 73vw;
	width: 14vw;
	top: -2vw;
           }
        .aso_itemmain div.aso_itemmain_japan img {
            width: 100% !important;
        }
            .aso_itemcontent img {
                margin: 0;
                display: block;
                padding: 0;
            }
            .aso_itemdetail_storage,.aso_gallery,.aso_hosoku,.aso_media,.aso_itemdetail_size {
	padding: 0 3.4vw;
	width: 100%;
	box-sizing: border-box;
	display: block;
            }
            .aso_gallery {
                margin-bottom: 30vw;
                overflow-y:visible;
            }
            .aso_itemdetail_storage {
	padding-bottom: 14vh;
	margin-top: 15vw;
            }            
            .aso_itemdetail_size {
	background: #dedede;
	padding-bottom: 7.9vw;
	position: relative;
            }
            .aso_itemdetail_size_text {
	font-size: 2.5vw;
	font-weight: bold;
	line-height: 5vw;
	text-align: left;
                border-top: 1px solid #3e3a39;
                padding-top: 6vw;
                margin-top: 10vw;
            }
            .aso_itemdetail_size_text th {
	vertical-align: top;
	width: 17vw;
                padding: 0;
            }
        .aso_itemdetail_size_text td {
            width: auto;
        }        
        .aso_itemdetail_size_text tr:nth-child(4) td th {
            width: 10em;
        }        
        .aso_itemdetail_size_text tr:nth-child(7) td th {
            width: 5em;
        }        
            .aso_itemdetail_size_detail {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 2vw;
                grid-row-gap: 2vw;
            }
.aso_itemdetail_size .aso_itemdetail_size_detail div:last-child {
    display: none;
}
            .aso_relatecontents {
                margin-top: 20px;
                border-top: 1px solid #808080;
                padding-top: 20px;

            }
            .aso_relatecontents div {
                display: inline-block;
                overflow: inherit;
                height: 30vw;
                margin-right: 2vw;
                float: left;
            }
            .aso_relatecontents div a {
                display: inline-block;
                margin: 0;
                height: 100%;
                padding: 0;
            }
        #aso_2021container .aso_relatecontents div a img{
                height: 100%;
                width: auto;
                margin: 0;
                padding: 0;
            }
            .aso_media_contents {
                font-size: 3vw;
                line-height: 7vw;
                padding-bottom: 12vw;
            }
 
            .aso_series {
                margin-top: 5vw;
                width: 100%;
                height: 100%;
            }
            .aso_series_title {
                width: 50vw;
                margin: auto;
            }
            .aso_series_title img {
                width: 100%;
            }
        
            .aso_common_container div {
	font-weight: bold;
            }
            .aso_recommend {
	background-color: #D9D7D6;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
            }
            .aso_common_container .aso_common_head {
                margin: 0 auto 0;
                padding-top: 15vw;
                width: max-content;
                text-align: center;
                font-size: 24px;
                font-weight: bold;
            }
        .aso_recommend_items_container {
            width: 100vw;
            scroll-snap-type: x mandatory;
            overflow-x: scroll !important;
            	-ms-overflow-style: none;    /* IE, Edge 対応 */
	scrollbar-width: none;       /* Firefox 対応 */

        }
        .aso_recommend_items_container::webkit-scroll-bara {
            display: none;
}
            .aso_recommend_items {
	display: grid;
	padding-top: 14vw;
	padding-bottom: 18vw;
	grid-template-columns: 80vw 60vw 80vw;
	font-size: 4.5vw;
                grid-column-gap: 10vw;
            }
        .aso_recommend_item {
                scroll-snap-align: center;
        }
        .aso_recommend_item:first-child {
            padding-left: 20vw;
        }
        .aso_recommend_item:last-child {
            padding-right: 20vw;
        }
            .aso_recommend_item_img img {
                width: 100%;
            }
        .aso_recommend_item_colors {
            width: max-content;
            margin: 0 auto;
            transform: translateY(-10px);
        }
            .aso_reccomend_item_color {
                width: 23px;
                height: 23px;
                background-color: #3D3D3E;
                border-radius: 50%;
                display: block;
                box-sizing: content-box;
            }
            .aso_recommend_item_names {
                width: max-content;
                margin: 12vw auto 3vw;
                line-height: 26px;
            }
            .aso_recommend_item_name_jpn {
                display: block;
                font-weight: 400;
                font-size: 4vw;
                text-align: center;
            }
            .aso_recommend_item_price {
                width: max-content;
                margin: auto;
                text-align: center;
                padding-left: 1em;
            }
		.contents_container2021 img {
				width: 100%;
			}
			.betsu_setsumei {
				margin: 55px 46px 22px;
				font-size: 16px;
			}
		.betsu_setsumei_honbun {
			margin-bottom: 50px;
			    line-height: 1.8em;
		}
		.betsu_setsumei_number {
			font-size: 60px;
			margin-bottom: 19px;
			font-weight: bold;
		}
		.betsu_setsumei_midashi {
			font-size: 23px;
			margin-bottom: 20px;
			font-weight: bold;
		}
			.betsu_setsumei_images {
				margin:  0 14px;
				border-top: 1px solid #808080;
			}
		.betsu_setsumei_images_title {
			margin: 30px 0 10px;
			font-size: 16px;
			width: 100%;
			text-align: center;
			font-weight: bold;
		}
		.betsu_setsumei_images_table {
			display: grid;
			width: 100%;
			grid-template-columns:  1fr 1fr;
			grid-column-gap: 7px;
			grid-template-rows: auto;
			grid-row-gap: 11px;
			margin-bottom: 13px;
		}
		.betsu_setsumei_images_disc {
			font-size: 14px;
			margin-bottom: 42px;
		}
				.betsu_setsumei_images_table .betsu_setsumei_images_disc {
					margin: 13px 0 11px;
		}
		.betsu_setsumei_images_table01 .betsu_setsumei_image01 {
			grid-column-start: 1;
			grid-column-end: 3;
		}
		.betsu_setsumei_images_table02 .betsu_setsumei_image01 {
			grid-column-start: 1;
			grid-column-end: 3;
		}
		.betsu_setsumei_images_table03 {
			display: grid;
			width: 100%;
			grid-template-columns:  auto;
			grid-column-gap: 7px;
			grid-template-rows: auto;
			grid-row-gap: 11px;
			margin-bottom: 13px;
		}
		.designer_diary {
			background-color: #E9EAEA;
			padding: 27px 11px;
		}
		.designer_diary_title {
			background-color: #939394;
			text-align: center !important;
			height: 40px;
			line-height: 40px;
			display: block;
			color: #ffffff;
		}
		.designer_diary_honbun {
			margin: 24px 0 38px;
			
		}
		.designer_diary_honbun ol {
			margin: 0;
			padding-inline-start: 11px;
			margin-inline-start: 11px;
		}
		.designer_diary_grid {
			display: grid;
			width: 100%;
			grid-template-columns: 1fr 1fr;
			grid-gap: 8px;
			text-align: center;
		}
		.designer_diary_grid_image01 {
			grid-column-start: 1;
			grid-column-end: 1;
		}
		.designer_diary_grid_image02 {
			grid-column-start: 2;
			grid-column-end: 2;
		}
		.designer_diary_grid_text {
			font-size: 14px;
			text-align: center;
			margin-bottom: 12px;
			font-weight: bold;
		}
		.designer_diary_text {
			margin-top: 8px;
			margin-bottom: 14px;
		}
		.vegan {
			margin-top: 30px;
			font-size: 16px;
			margin-bottom: 7px;
		}
		.vegan p:first-child {
			margin-bottom: 6px;
			font-weight: bold;
		}
		.komejirushi {
			font-size: 14px;
			margin-bottom: 35px;
		}
		.betsu_setsumei_nakami,.betsu_setsumei_nakami_comment {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.betsu_setsumei_nakami ul {
			list-style-type: "・";
			margin-block-start: 0.5rem;
			padding-inline-start: 1rem;
		}