@charset "UTF-8";
/* CSS Document */

@media screen and (orientation: portrait) {
            .pconly {
                display: none;
            }
    .sponly {
        display: inherit;
    }
    
        div,p {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
a img {
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
    .touchstyle { opacity: 0.5; }
    .notouchstyle { opacity: 1; }

        body {
            width: 100%;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: "A+EqpB-游ゴシック体 Pr6N M", sans-serif;
            color: #3e3a39;
            text-align-last: left;
        }
        .clearbox {
            clear: both;
        }
:root {
--swiper-theme-color: #ffffff !important;
}
        .container_aso a img {
            max-width: 100%;
        }
    .contents_container img {
        width: 100%;
    }

        .spheader_aso {
            background-color: #666464;
            width: 100%;
            height: 50px;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            position: fixed;
            top: 0;
            left: 0;
            float: left;
            z-index: 999999;
        }
        .head_top {
            float: left;
            display: block;
        }
        .headtopimg {
            width: 100px;
            padding: 13px 15px;
        }
        .head_menu {
            display: block;
            float:left;
            position: relative;
        }
        .btn {
            width: 22px;
            position: absolute;
            top: 14px;
            right: 15%;
            border-radius: 0;
    }
        .humb-icon {
            width: 24px;
            height: 18px;
            position: absolute;
            top: 16px;
            right: 5%;
            background-color: #666464;
        }
        .humb-icon .icon-wrap {
            position: relative;
            width: 100%;
            height: 100%;
        }
        .humb-icon .icon-bars {
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #b5b5b6;
            border-radius: 2px;
        }
        .humb-icon .icon-bars:nth-of-type(1){
            top: 0;
        }
        .humb-icon .icon-bars:nth-of-type(2) {
            top: 8px;
        }
        .humb-icon .icon-bars:nth-of-type(3) {
            bottom: 0;
        }
        .humb-icon,.humb-icon span {
            display: inline-block;
            transition: all .4s;
            box-sizing: border-box;
        }
        #input-humbmenu {
            display: none;
        }
        .icon-wrap.active .icon-bars:nth-of-type(1) {
  -webkit-transform: translateY(8px) rotate(-45deg);
  transform: translateY(8px) rotate(-45deg);
}
.icon-wrap.active .icon-bars:nth-of-type(2) {
  opacity: 0;
}
.icon-wrap.active .icon-bars:nth-of-type(3) {
  -webkit-transform: translateY(-8px) rotate(45deg);
  transform: translateY(-8px) rotate(45deg);
}
        .topthree {
            width: 100%;
            background-size: contain;
            background-position: right top;
            background-repeat: no-repeat;
        }
        .restock {
            background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/index2020/asoindex_23.jpg);
            background-size: contain;
            background-position: right top;
            background-repeat: no-repeat;

        }
        .restock_brown {
            background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/index2020/asoindex_114.jpg);
            background-size: contain;
            background-position: right top;
            background-repeat: no-repeat;

        }
        .restock_yellow {
            background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/index2020/asoindex_113.jpg);
            background-size: contain;
            background-position: right top;
            background-repeat: no-repeat;

        }

        .new {
            background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/index2020/asoindex_24.jpg);
            background-size: contain;
            background-position: right top;
            background-repeat: no-repeat;

        }
        .new_gray {
            background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/index2020/asoindex_116.jpg);
            background-size: contain;
            background-position: right top;
            background-repeat: no-repeat;

        }
        .new_brown {
            background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/index2020/asoindex_115.jpg);
            background-size: contain;
            background-position: right top;
            background-repeat: no-repeat;

        }
        .popular {
            background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/index2020/asoindex_74.jpg);
            background-size:contain;
            background-position: right top;
            background-repeat: no-repeat;

        }
        .popular_yellow {
            background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/index2020/asoindex_118.jpg);
            background-size:contain;
            background-position: right top;
            background-repeat: no-repeat;

        }
        .popular_gray {
            background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/index2020/asoindex_117.jpg);
            background-size:contain;
            background-position: right top;
            background-repeat: no-repeat;

        }
        .topthree a img {
            width: 80%;
            padding: 13% 15% 5% 5%;
            
        }
        .topthree .text {
            padding:0 0 0 7%;

            border-left: 1px solid #727171;
            margin: 0 0 15% 8%;
   font-family: 'A+EqpB-游ゴシック体 Pr6N B', sans-serif;
            line-height: 1.8em;
            height: 77px;
        }
        .topthree .text .title {
            font-size: 15px;
            padding-bottom: 10px;
            line-height: 0.9em;
        }
        .topthree.topthree3  .text {
            margin: 0 0 5% 8%;
        }
        .topthree .text .title .nihongotitle {
            font-size: 10.67px;
        }
        .index_grid {
            width: 100%;
            padding:6% 2%;
        }
        .index_grid .grid_2line {
            width: 50%;
            display: block;
            float: left;
            box-sizing: border-box;
            padding: 0 2% 2%;
        }
        .grid_2line img {
            width: 100%;
        }
        .space {
            width: 100%;
            height: 23px;
            clear: both;
        }
        .grid_1line .text {
            padding:0 2%;
        }
        .grid_1line .grid_tag {
            padding: 0 2%;
        }
        .index_grid .grid_tag img {
            width: auto;
            height: 18.5px;
            display: block;
            float: left;
            margin: 13px 5px 5px 2px;
        }
        .grid_title {
   font-family: 'A+EqpB-游ゴシック体 Pr6N B', sans-serif;
            padding-bottom: 8px;
            line-height: 1.8em;
        }
        .grid_2line .grid_title {
            font-size: 15px;
        }
        .grid_2line .text {
            padding: 0 2% 0 2%;
        }
        .grid_1line .grid_title {
            font-size: 17px;
        }
        .grid_title .nihongotitle {
            font-size: 10.67px;
        }
        .grid_2line .grid_text {
            font-size: 12px;
        }
        .grid_1line .grid_text {
            font-size: 13px;
            
        }
        .grid_text {
            padding-bottom: 25px;
            line-height: 1.7em;
            color: #000000;
        }
        .grid_text .product_name {
            color: #898989;
            text-align: left;
            text-justify: none;
        }
    .grid_text .product_name::before {
        content: '／';
    }    
    
        .hop {
            transition-duration: 1.0s;
        }
        .category_aso {
            width: 100%;
            background-color: #f9f7f5;
            padding-bottom: 70%;
            padding-top: 2%;
            margin-bottom: 30px;
        }
        .asomidashi_eng {
            text-align: center;
   font-family: 'A+EqpB-游ゴシック体 Pr6N B', sans-serif;
            font-size: 15px;
            letter-spacing: .4em;
            margin-top: 30px;
            margin-bottom: 15px;
            line-height: 0.5em;
        }
        .asomidashi_jpn {
            text-align: center;
            font-size: 10.67px;
            margin-bottom: 20px;
        }
        .cate_images {
            width: 80%;
            margin: 0 auto;
            display: block;
        }
        .cate_image {
            width: 33%;
            float: left;
        }
        .cate_image a img {
            width: 70%;
            padding: 15% 15% 0 15%;
        }
        .cate_image .cate_text {
            font-size: 10.67px;
            text-align: center;
            padding:0.5em 0 1em 0;
        }
        .price_aso {
            margin: 50px 0;
        }
        .pricebutton {
            width: 100%;
        }
        .pricebutton a img {
            width: 90%;
            padding:6px 5%;
        }
        .contentbutton {
            width: 100%;
        }
        .contentbutton a img {
            width: 90%;
            padding: 3px 5%;
        }
        .contentbutton .contentsns {
            width: 100%;
            padding: 3px 5%;
        }
        .contentbutton .contentsns a img {
            width: 50%;
            float: left;
            margin: 0;
            padding: 0;
        }
        .guide_aso {
            width: 100%;
        }
        .guide_grids {
            width: 90%;
            margin: 0 5%;
            box-sizing: border-box;
        }
        .guide_grid {
            width: 50%;
            float: left;
            box-sizing: border-box;
            padding: 1px 2px;
        }
        .guide_grid a img {
            width: 100%;
        }
        .spmenu_aso {
            top: 50px;
            background-color: #666464;
            color: #ffffff;
            scroll-behavior: auto;
            right: 0;
            overflow-y: scroll;
            transition: .4s ease-in-out;
        }
/*iframeを格納*/
input[type="checkbox"]#input-humbmenu + #spmenu_aso { 
	width: 80%;
	height: 100%;
    transition: 0.5s ease-in-out;
    position:fixed;
    top: 50px;
    right: -80%;
}

/*iframeを格納(オープン時)*/
input[type="checkbox"]#input-humbmenu:checked + #spmenu_aso {
    overflow:scroll;
	-webkit-overflow-scrolling:touch;
    z-index: 2147483646;
    right: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
        .spmenu_aso a:link {
            color: #ffffff;
            text-decoration: none;
        }
        .spmenu_aso a:visited {
            color: #ffffff;
            text-decoration: none;
        }
        .cart a img {
            width: 100%;
            padding: 0 0 20px 0;
        }
        .threemenus {
            width: 90%;
            padding: 10px 0 10px 10%;
        }
        .threemenu {
            border-bottom: 1px solid #727171;
            width: 100%;
        }
.threemenu:first-child {
    border-top: 2px solid #727171;
}
.threemenu:last-child {
    border-bottom: 2px solid #727171;
}
        .threemenu a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 1.5em 0 1.5em 1em;
            font-size: 15px;
        }
         .kensaku2box {
        position: relative;
             text-align: center;
    }
        .kensaku2box .kensaku2textspace {
        width: 80%;
        height: 50px;
        -webkit-appearance: none;
        border: 1px solid #b5b5b6;
        box-sizing: border-box;
        z-index: 99;
        border-radius: 37px;
        font-size: 14px;
        padding:0 0 0 18%;
            
        color: #ffffff;
            background-color: #666464;
            margin-bottom: 30px;
            line-height: 50px;
    }
.kensaku2textspace:focus {
    outline: none;
}
        .kensaku2box .kensaku2image {
        position: absolute;
        top: 14px;
        width: 22px;
        right: 18%;
        z-index: 100;
            border-radius: 0;
        }
        .spmenu_category {
            width: 90%;
            padding-left: 10%;
            box-sizing: border-box;
        }
        .spmenumidashi_eng {
            font-size: 20px;
            letter-spacing: .3em;
   font-family: 'A+EqpB-游ゴシック体 Pr6N B', sans-serif;
            margin-bottom: 9px;
            padding-left: 15px;
        }
        .spmenumidashi_jpn {
            font-size: 15px;
            padding-left: 1em;
        }
        .sidecategory a {
            display: block;
            width: 100%;
            clear: both;
            padding: 1.5em 0 1.5em 1em;
            font-size: 15px;
            border-bottom: 1px solid #727171;
        }
        .sidecategory a:first-child {
            border-top: 2px solid #727171;
            margin-top: 15px;
        }
        .sidecategory a:last-child {
            border-bottom: 2px solid #727171;
        }
        .brand_jpn {
            font-size: 10.67px;
            line-height: 16px;
            vertical-align: middle;
        }
        .aidaspace {
            width: 100%;
            height: 60px;
        }

        .menuinfo_aso li {
            padding-bottom: 12px;
        }
        .menuinfo_aso {
            margin-top: 26px;
        }
        .contact {
            margin-top: 16px;
        }
        .contact div {
            padding: 1em 0 0 1em;
        }
        .contact div:last-child {
            margin-bottom: 3em;
        }
.spheader_aso{
    transition: .5s;
}
 
.spheader_aso.hide{
    transform: translateY(-100%);
}    
        .fixing {
            overflow:hidden;
        }
        .contents_border {
            border-top: 1px solid; 
            border-top-color: rgba(180,157,146,0.25);
            width: 90%; 
            display: block; 
            margin: 14px auto 0; 
            height: 14px;
            clear: both;
        }
        .contents_border.first {
            margin-top: 0;
        }
        .rank_aso {
            width: 90%;
            margin: 0 5%;
            position: relative;
            height: auto;
        }
        .rank_4lines {
            width: 100%;
        }
        .rank_4lines .rank {
            width: 25%;
            float: left;
            background-repeat: no-repeat;
            background-position: left top;
            background-size: auto 25px;
            margin: 20px 0;
        }
        .rank_4lines img {
            width: 100%;
        }
        .rank img {
            width: 80%;
            display: block;
        }
        .rank_4lines .rank_1 {
            background-image: url(https://www.rakuten.ne.jp/gold/asoboze/images/asoindex_123.png);
        }
        .rank_1 img {
            margin-top: 30px;
        }
        .rank_4lines .rank_2 {
            background-image: url(https://www.rakuten.ne.jp/gold/asoboze/images/asoindex_124.png);
        }
        .rank_2 img {
            margin-top: 30px;
        }
        .rank_4lines .rank_3 {
            background-image: url(https://www.rakuten.ne.jp/gold/asoboze/images/asoindex_119.png);
        }
        .rank_3 img {
            margin-top: 30px;
        }
        .rank_date {
            width: 100%;
            font-size: 10px;
            position: relative;
        }
        .rank_date div {
            position: absolute;
            right: 0;
            bottom: -150px;
        }
        .swiper-slide img {
            width: 100%;
        }
        .copyright_aso {
            width: 100%;
            height: 60px;
            background-color: #666464;
            display: flex;
            justify-content: center;
        }
        .copyright_aso span {
            text-align: center;
            
            color: #ffffff;
            font-size: 8px;
            display: inline-block;
            vertical-align: bottom;
            padding-top: 35px;
        }
        /* ------ ＴＯＰ戻るボタン ------- */
#page-top {
     position: fixed;
    bottom: 10px;
    right: 12px;
    font-size:25px;
    font-weight: bold;
}
#page-top a {
    background: #8e8e88;
        filter:alpha(opacity=60);
        -moz-opacity:0.6;
        -khtml-opacity: 0.6;
        opacity:0.6;
        text-decoration: none;
        color: #fff;
     width: 33px;
  height: 33px;
        padding: 8px;
        text-align: center;
        display: block;
        border-radius: 30px;

}
#page-top a:hover {
   border-style: none;
            background: #8e8e88;
}
        /*  -- スタイル  --*/
#othergallery .para {
	border-left: 1px solid #898989; padding-left: 3%; width: 90%; margin:0 auto; padding-bottom: 5px; box-sizing: border-box;
	line-height:18px;
}

.iframe_touched {
    height: 100% !important;
}
.iframe_header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
}
    .nontablet {
        height: 0px;
    }
    .base10.forsp {
        padding: 20px 0;
    }
    .familylink {
        display: inline-grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
    }
    
}
@media screen and (orientation: portrait) and (min-width: 600px) {
    .btn {
        right: 80px;
        width: 30px;
        top: 18px;
    }
    .humb-icon {
        width: 32px;
        height: 24px;
        top: 21px;
        right: 30px;
        
    }
    .humb-icon .icon-bars:nth-of-type(2) {
        top: 11px;
    }
    .icon-wrap.active .icon-bars:nth-of-type(3) {
        transform: translateY(-11px) rotate(-45deg);
    }
    .icon-wrap.active .icon-bars:nth-of-type(1) {
        transform: translateY(11px) rotate(45deg);
    }
    .index_grid {
        padding-top: 3%;
        padding-bottom: 0;
    }
    .index_grid .grid_2line {
        padding-bottom: 3%;
    }
    .grid_text {
        padding-bottom: 30px;
    }
    .asomidashi_eng {
        font-size: 20px;
    }
    .asomidashi_jpn {
        font-size: 14px;
    }
    .rank_4lines .rank {
        background-size: auto 40px;
    }
    .rank_1 img {
        margin-top: 50px;
    }
    .rank_2 img {
        margin-top: 50px;
    }
    .rank_3 img {
        margin-top: 50px;
    }
    .rank_date div {
        bottom: -250px;
    }
    input[type="checkbox"]#input-humbmenu + #spmenu_aso {
        width: 60%;
        max-width: 300px;
        top: 70px;
    }
    .nontablet {
        height: 0;
    }
    .category_aso {
        width: 50%;
        float: left;
        padding-bottom: 5%;
        margin-bottom: 100px;
        padding-top: 3%;
    }
    .price_aso {
        margin: 0;
        width: 50%;
        display: block;
        padding-top: 3%;
        float: left;
    }
    .contents_aso {
        clear: both;
        margin-top: 43px;
    }
    .contents_aso .contentbutton.sponly {
        display: none;
    }
    .contents_aso .contentbutton.pconly {
        display: block;
    }
        .contentbutton {
            width: 100%;
        }
    .contentbutton a img {
        width: 100%;
            padding: 0 0 1vh;
            box-sizing: border-box;
            border-right: 1px solid #dacec8;
    }
        .contentbutton a {
            width: 24%;
            display: inline-block;
            float: left;
            margin-top: 15px;
        }
    .contentbutton a:nth-child(1) {
        margin-left: 2%;
        border-left: 1px solid #dacec8;
        box-sizing: border-box;
    }
    .contentbutton a:nth-child(5) {
        width: 95%;
        margin: 1vh 2.5% 0;
        clear: both;
    }
    .contentbutton a:nth-child(5) img {
        border: none;
    }
        .contentbutton .contentsns {
            width: 100%;
            padding: 1vh 2.5%;
        }
    .contentbutton .contentsns a {
            margin: 0;
            padding: 0;
        border: none;
        display: block;
        float: left;
    }
    .contentbutton .contentsns a:nth-child(1) {
        width: 50%;
    }
    .contentbutton .contentsns a:nth-child(2) {
        width: 50%;
    }
        .contentbutton .contentsns a img {
            padding: 0;
            border: none;
            width: 100%;
        }
    .guide_aso .guide_grids .clearbox {
        display: none;
    }
    .guide_aso .guide_grids .guide_grid {
        width: 25%;
    }
    .topthree .text .title {
        font-size: 30px;
    }
    .topthree .text {
        height: auto;
        margin-bottom: 10%;
    }
    .pricebutton a img {
         width: 80%;
        padding: 6px 8%;
    }
    .pricebutton a:first-child img {
        padding-top: 15px;
    }
    .cate_image {
        margin-bottom: 5px;
    }
    .spheader_aso {
        height: 70px;
    }
    .headtopimg {
        width: 120px;
        padding: 20px 30px;
    }
    .grid_1line {
        padding: 1% 2% 0;
    }
    .space.first {
        height: 45px;
    }
    .guide_grids {
        width: 95%;
        margin: 0 2.5%;
    }
}