@charset "UTF-8";


    nav {
        display: none;
    }
    .section {
            background-repeat: no-repeat;
            background-size: cover; 
            background-position: top left;
            border: none;
    }
    .section:nth-child(1) {
        z-index: 10;
    }
    .section:nth-child(2) {
        z-index: 10;
    }
    .section:nth-child(3) {
        z-index: 10;
    }

    .section:nth-child(6) {
        background-image: url(https://www.rakuten.ne.jp/gold/asoboze/02validname/asocon_17.jpg);      
    }
    .section:nth-child(7) {
            background-color: #fff;
    }
    .section:nth-child(8) {
            background-image: url(https://www.rakuten.ne.jp/gold/asoboze/02validname/asocon_26.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover; 
            background-position: top left;
            border: none;
            z-index: -1;
    }
    .section:nth-child(9) {
            background-image: url(https://www.rakuten.ne.jp/gold/asoboze/02validname/asocon_27.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover; 
            background-position: top left;
            border: none;
            z-index: -1;
    }
    .section:nth-child(10) {
            background-image: url(https://www.rakuten.ne.jp/gold/asoboze/02validname/asocon_28.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover; 
            background-position: top left;
            border: none;
            z-index: -1;
    }
    
    .spupdate_img {
            position: fixed;
            left: 42%;
            top: 11%;
            width: 39%;        
            z-index: 10;
    }
        .asocon3lines img {
            width: 100%;
            position: relative;
            top: 54%;
            transform: translateY(-50%);
        }
        .asocon3lines {
            width: 50%; 
            left: 43%; 
            position: relative;
            height: 100vh;
            max-width: 700px;
            vertical-align: middle;
            transition-duration: .5s;
        }
        .readmore {
            position: fixed; 
            bottom: 8vh;
            left: 0;
            width: 100%;
            text-align: center;
            z-index: 10;
        }
    .readmore.effect2 {
        z-index: 9;
    }
        .asocon_container .readmore {
            position: fixed;
        }
        .readmore img {
            width: 60px;

        }
        .update_disc {
            display: block;
            width: 30%;
            height: auto;
            line-height: 3em;
            top: 47%;
            left: 15%;
            font-size: 1.4vw;
            font-weight: bold;
            min-width: max-content;
            transform: translateY(-50%);
            position: relative;
        }
        .update_3dots img {
            width: 100%;
        }
        .update_3dots {
            width: 20%;
            height: auto;
            position: absolute;
            top: 42%;
            transform: translateY(-50%);
            right: 20%;
        }
        .update_img img {
            width: 100%;
        }
        .update_img {
            width: 40%;
            max-width: 520px;
            position: absolute;
            top: 42%;
            transform: translateY(-50%);
            left: 9vw;
        }
        .update_text {
            width: 30%;
            position: absolute;
            top: 45%;
            left: calc(520px + 15vw);
            transform: translateY(-50%);
        }
        .update_text div:nth-child(1) {
            padding: 10px 0 15px;
            font-size: 1.3vw;
        }
        .update_text div:nth-child(2) {
            padding:0 0 30px 0;
            font-weight: bold;
            font-size: 1.6vw;
        }
        .update_text div:nth-child(3) {
            font-size: 1.3vw;
            padding-bottom: 10px;
            line-height: 1.8em;
        }
    
        .hop {
            transition-delay: 1s;
        }
        .hop2 {
            transition-delay: 2s;
            transition-duration: 1s;
        }
        .hop3 {
            transition-duration: 1s;
            transition-delay: 3s;
        }
        .hop5 {
            transition-duration: 1s;
            transition-delay: 4s;
        }
        .hop6 {
            transition-duration: 1s;
            transition-delay: 5s;
        }
    .hop4 {
        transition-delay: .5s;
        transition-duration: 1s;
    }
    .section:nth-last-child(1){
        width: 100vw;
        height: 100vh;
    }
    .section:nth-last-child(1) div {
        display: flex;
    }
    .update_last {
        width: 600px;
        height: 400px;
        position: relative;
        font-weight: bold;        
        top: 50%;
        left: calc(50% - 10vw);
        transform: translate(-50%, -50%);
    }
    .update_last .update_item_disc {
        font-weight: bold;
    }
    .link_shoptop {
        position: absolute;
        bottom: -5vh;
        right: -15vw;
    }
    .update_last a {
        text-decoration: none;
    }
    .update_about {
        grid-row: 1 /4;
        grid-column: 1;
    }
    .update_mokuji dd {
        position: relative;
    }
    .update_mokuji dd::after {
        content: '';
        width: 45px;
        height: 90px;
        top: -65px;
        left: -62px;
        border-bottom: 2px solid #bbb;
        border-left: 2px solid #bbb;
        position: absolute;
    }
    .update_mokuji dd.hop2::after {
        height: 77px;
        top: -52px;
    }
    .update_mokuji .update_about + dd::after {
        top: -77px;
        border-left: none;
        width: 100px;
        left: -112px;
    }
    /*
    .update_mokuji::after {
        border-left: 2px solid #bbb;
        content: '';
        position: absolute;
        top: 29px;
        left: 206px;
        height: 259px;
        width: 0;
        
    }
    */
    .update_mokuji {
        width: 100%;
        display: inline-grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 18% 25% 25% 25%;
    }
    .update_items {
        grid-row: auto;
        grid-column: 2;
    }
    .update_items:first-child {
        margin-top: 0;
    }
    .update_items:last-child {
        margin-bottom: 0;
    }
    .update_items a {
        color: #000;
        font-weight: bold;
        transition-duration: .2s;
        white-space: nowrap;
    }
    .update_items img {
        position: absolute;
        top:0px;
        height: 90px;
        right: -160px;
        opacity: 0;
        transition-duration: .5s;
    }
    .update_items.first_item img {
        top: -30px
    }
    .update_items a:hover {
        font-size: 20px;
    }
    .update_items a:hover + img {
        opacity: 1;
    }
    /* タブレット（縦） */
    @media screen and (orientation: portrait) {
        .aso_pcleft:first-child > a:first-child img {
            width: 50%;
        }
    .section:nth-child(6) {
        background-image: url(https://www.rakuten.ne.jp/gold/asoboze/02validname/asocon_23.jpg);      
    }
           .section:nth-child(8) {
        background-image: url(https://www.rakuten.ne.jp/gold/asoboze/02validname/asocon_30.jpg);
           }
           .section:nth-child(9) {
        background-image: url(https://www.rakuten.ne.jp/gold/asoboze/02validname/asocon_31.jpg);                     
           }
           .section:nth-child(10) {
        background-image: url(https://www.rakuten.ne.jp/gold/asoboze/02validname/asocon_32.jpg);                     
           }
           .spupdate {
            width: 88%; 
            position: fixed; 
            left: 7%; 
            top: 8%;
        }
        .asocon3lines {
            position: relative;
                width: 80%;
                height: 100%;
                top: 0;
                left: 8%;
            }
            .asocon3lines img {
                top: 52%;
            }
            .readmore {
            text-align: center; 
                bottom: 4vh;
            left: 0; 
            width: 94vw;
        }
            .readmore img {
                width: 12%;
                max-width: 64px;
            }
            .pconly {
                display: none;
            }
        .update_disc {
            width: max-content;
            text-align: center;
            height: auto;
            line-height: 3em;
            top: 30%;
            left: 50%;
            font-size: 18px;
            font-weight: bold;
            transform: translateX(-50%);
            position: relative;
        }
        .update_3dots img {
            width: 100%;
        }
        .update_3dots {
            width: 30%;
            margin: 0 auto;
            height: auto;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translateX(-50%);
        }
        .update_img img {
            width: 100%;
        }
        .update_img {
            width: 25vh;
            min-width: 60%;
            position: relative;
            top: 4vh;
            left: 50%;
            transform: translateX(-50%);
        }
        .update_text {
            width: 65%;
            position: relative;
            top: 12vh;
            left: 50%;
            transform: translateX(-50%);
        }
        .update_text div:nth-child(1) {
            padding: 5px 0 2.5px;
            font-size: 18px;
        }
        .update_text div:nth-child(2) {
            padding:0 0 10px 0;
            font-weight: bold;
            font-size: 22px;
        }
        .update_text div:nth-child(3) {
            font-size: 18px;
            padding-bottom: 5px;
        }
        .asocon_3point {
            background-size: 100% auto;
            background-attachment: scroll;
                height: 100vh;            
        }
        .update_mokuji .update_about + dd::after {
        width: 45px;

        height: 60px;

        top: -45px;

        left: -62px;

        border-bottom: 2px solid #bbb;

        border-left: 2px solid #bbb;            
        }        
        .update_about {
            position: absolute;
            top: -80px;
            left: 120px;
        }
        .update_last .update_item_topic {
            font-weight: 400;
        }
    }
    /* スマホ */
       @media screen and (orientation: portrait) and (max-width: 650px) {
           #pp-nav {
               display: none;
           }
           .section {
               width: 100vw;
               height: 100vh;
               background-size: cover;
               background-repeat: no-repeat;
           }
    .section:nth-child(6) {
        background-image: url(https://www.rakuten.ne.jp/gold/asoboze/02validname/asocon_23.jpg);      
    }
           .section:nth-child(8) {
        background-image: url(https://www.rakuten.ne.jp/gold/asoboze/02validname/asocon_30.jpg);
               background-size: 100% auto;
           }
           .section:nth-child(9) {
        background-image: url(https://www.rakuten.ne.jp/gold/asoboze/02validname/asocon_31.jpg);                     
               background-size: 100% auto;
           }
           .section:nth-child(10) {
        background-image: url(https://www.rakuten.ne.jp/gold/asoboze/02validname/asocon_32.jpg);                     
               background-size: 100% auto;
           }
           .spupdate {
            width: 88%; 
            position: fixed; 
            left: 7%; 
            top: 17%;
        }
        .asocon3lines {
            position: relative;
                width: 88%;
                height: 100%;
                top: 0;
                left: 8%;
            }
            .asocon3lines img {
                top: 25%;
                transform: none;
            }
            .readmore {
            text-align: center; 
                bottom: 3vh;
            left: 0; 
            width: 100%;
        }
            .readmore img {
                width: 10%;
                max-width: 64px;
            }
            .pconly {
                display: none;
            }
        .update_disc {
            width: max-content;
            height: auto;
            line-height: 3em;
            top: 40%;
            left: 50%;
            font-size: 12px;
            font-weight: bold;
            transform: translate(-50%, -50%);
            position: relative;
        }
        .update_3dots img {
            width: 100%;
        }
        .update_3dots {
            width: 30%;
            margin: 0 auto;
            height: auto;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translateX(-50%);
        }
        .update_img img {
            width: 100%;
        }
        .update_img {
            width: 20vh;
            min-width: 80%;
            position: relative;
            top: 6vh;
            left: 50%;
            transform: translateX(-50%);
        }
        .update_text {
            width: 80%;
            position: relative;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        .update_text div:nth-child(1) {
            padding: 0 0 2.5px;
            font-size: 12px;
        }
        .update_text div:nth-child(2) {
            padding:0 0 5px 0;
            font-weight: bold;
            font-size: 16px;
        }
        .update_text div:nth-child(3) {
            font-size: 12px;
            padding-bottom: 5px;
        }
        .asocon_3point {
            background-size: 100% auto;
            background-attachment: scroll;
                height: 100vh;            
        }
    .update_last {
        width: 300px;
        height: 400px;
        position: relative;
        top: 180px;
        left: -50px;
        font-size: 12px;
        transform: translate(0, 0);
    }
    .link_shoptop {
        position: absolute;
        bottom: 50px;
        right: -100px;
        color: #3e3a39;
    }
    .update_last a {
        text-decoration: none;
    }
    .update_about {
        grid-row: 1 /4;
        grid-column: 1;
            position: absolute;
            top: -50px;
            left: 90px;
    }
    .update_mokuji dd {
        position: relative;
    }
    .update_mokuji dd::after {
        content: '';
        width: 35px;
        height: 90px;
        top: -65px;
        left: -52px;
        border-bottom: 1px solid #bbb;
        border-left: 1px solid #bbb;
        position: absolute;
    }
    .update_mokuji dd.hop2::after {
        height: 77px;
        top: -52px;
    }
    .update_mokuji {
        width: 100%;
        display: inline-grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 14% 20% 20% 20%;
    }
    .update_items {
        grid-row: auto;
        grid-column: 2;
    }
    .update_items:first-child {
        margin-top: 0;
    }
    .update_items:last-child {
        margin-bottom: 0;
    }
    .update_items a {
        color: #000;
        transition-duration: .2s;
        white-space: nowrap;
    }
    .update_items img {
        position: absolute;
        top:0px;
        height: 90px;
        right: -160px;
        opacity: 0;
        transition-duration: .5s;
    }
    .update_items.first_item img {
        top: -30px
    }
        .update_mokuji .update_about + dd::after {
        width: 35px;

        height: 40px;

        top: -25px;

        left: -52px;

        border-bottom: 1px solid #bbb;

        border-left: 1px solid #bbb;            
        }        
    .update_items a:hover {
        font-size: 12px;
    }
    .update_items a:hover + img {
        opacity: 0;
    }           
        }
    @media screen and (orientation: portrait) and (min-width: 760px) {
        .pconly {
            display: block;
        }
        .sponly {
            display: none;
        }
    }    
    /* タブレット（横） */
    @media screen and (orientation: landscape) and (max-width: 1199px) {
        .asocon3lines img {
            top: 48%;
        }
        .readmore img {
            width: 45px;
        }
        
    }
