@charset "UTF-8";
/* CSS Document */

/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700|Noto+Serif+JP:200,300,400,600&display=swap&subset=japanese');
/* リセットcss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    background:transparent;
}

html{
	width:100%;
	overflow-x:hidden;
	overflow-wrap:break-word;
	word-wrap:break-word;
	font-family:  'Noto Sans JP', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, sans-serif;
}
#container1200{
	width:1200px;
	margin:20px auto;
	overflow-wrap:break-word;
	word-wrap:break-word;
	font-family:  'Noto Sans JP', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, sans-serif;
}

/*　トップページ　wrapper　*/
a img:hover{
	opacity:0.8;
}




/* 商品ページ、英字太字カテゴリ（センター） */
.cntr_ctgr2 p {
	font-size: 40px;
	font-weight: bold;
	color: #191919;
	margin: auto 0;
	padding-top: 30px;
	padding-bottom: 10px;
	letter-spacing: -0.05em;
	width: auto;
	text-align: center;
}
/* 商品ページ　英字太字カテゴリ（レフト） */
.cntr_ctgr2_left p {
	font-size: 36px;
	font-weight: bold;
	color: #191919;
	margin: 0;
	padding:40px 120px 15px 120px;
	letter-spacing: -0.05em;
}

.cntr11 p {
	font-size: 16px;
	font-weight: bold;
	color: #191919;
	margin: 0 auto;
	padding-bottom: 15px;
	padding-top: 0px;
	letter-spacing: 0.1em;
	display: block;
	text-align: center;
}

.cntr12 p {
	padding-top: 0px;
	padding-bottom: 30px;
	display: block;
	text-align: center;
	font-size: 14px;
	color: #494949;
	line-height: 1.5em;
	letter-spacing: 0.1em;
	margin: 0;
}

/*　商品ページ　上見出し　*/
.base22 p {
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.2em;
	margin: 0;
	padding:40px 120px 15px 120px;
}

/*　商品ページ　中見出し　*/
.base20 p {
	font-size: 24px;
	font-weight: bold;
	color: #191919;
	margin: 0px;
	line-height: 1.4em;
	padding:0 120px 10px 120px;
}

/*　商品ページ　本文　*/
.base21 p {
	padding:20px 120px 80px 120px;
	font-size: 18px;
	color: #494949;
	line-height: 1.7em;
	margin: 0;
}
/*　商品ページ　リストを使う場合　*/

.base21 ul{
	padding:0 120px 80px 120px;
	font-size: 18px;
	color: #494949;
	line-height: 1.7em;
	margin: 0;
    list-style-type: none;
}
.base21 ul li{
	padding: 10px 0;
	font-size: 18px;
	color: #494949;
	line-height: 1.7em;
	margin: 0;
}

/*　商品ページ　センターに置く場合　見出し　*/

.cntr20 p {
    font-size: 24px;
    font-weight: bold;
    color: #191919;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 0px;
    display: block;
    text-align: center;
	line-height:1.4em;

}

/*　商品ページ　センターに置く場合　本文　*/

.cntr21 p {
    padding-top: 20px;
    padding-bottom: 30px;
    display: block;
    text-align: center;
    font-size: 18px;
    color: #494949;
    line-height: 1.5em;
    letter-spacing: 0.1em;
    margin: 0;
}

/* 半分の要素 */
.wraphalf{
	width:600px;
	float:left;
	display:block;
}
.wraphalf img{
	width:600px;
}

/*　ヘッダー終わり　*/
.basewrap600{
	width:600px;
	float:left;
	display:block;
}
.clearbox{
	clear:both;
	height:30px;
	width:100%;
}
/* 一部の商品ページ */
.mt18002 {
	background-image:url(https://image.rakuten.co.jp/asoboze/cabinet/kawakomono/mt18002/2019/mt18002_32.jpg); 
	width:1200px; 
	height:550px; background-repeat: no-repeat; position:relative; background-size: contain;
	
}

.mt18002 .inner {
	position: absolute; left: 720px; top: 146px;
	width: 400px;
}

.walpac {
	background:url(https://image.rakuten.co.jp/asoboze/cabinet/kawakomono/kg-y167/1200ver/kg-y167_03b.jpg); width:1200px; height:548px; position:relative;
}

.walpac .inner {
	position: absolute; width:350px; top:200px; left:0; right:0; margin:auto;
}

.walpac2 {
	background: url(https://image.rakuten.co.jp/asoboze/cabinet/kawakomono/kg-y167/1200ver/kg-y167_06.jpg); width: 1200px; height: 10px; position: relative; bottom: -10px;
}

.walpac2 .inner {
	position: absolute; width:500px; top:150px;
}

.walpac3 {
	background:url(https://image.rakuten.co.jp/asoboze/cabinet/kawakomono/kg-y167/1200ver/kg-y167_07.jpg); width:1200px; height:637px; position:relative;
}

.walpac3 .inner {
	position:absolute; width:600px; top:20px;
}

@media screen and (max-width:1200px) {
	.mt18002 {
			background-image:url(https://image.rakuten.co.jp/asoboze/cabinet/kawakomono/mt18002/2019/mt18002_32.jpg); width: 760px; height: 348px; background-repeat: no-repeat; position:relative; background-size: contain;	
	}
	.mt18002 .inner {
    position: absolute;
    left: 454px;
    top: 90px;
    width: 250px;
	}
	
	.walpac { 
	background:url(https://image.rakuten.co.jp/asoboze/cabinet/kawakomono/kg-y167/1200ver/kg-y167_03b.jpg); width:760px; height:347px; position:relative; background-size:contain; background-repeat:no-repeat;
}

.walpac .inner {
	position: absolute; width:250px; top:130px; left:0; right:0; margin:	auto;
}
.walpac2 {
	background: url(https://image.rakuten.co.jp/asoboze/cabinet/kawakomono/kg-y167/1200ver/kg-y167_06.jpg); width: 760px; height: 10px; position: relative; bottom: -10px; position:relative; background-size:contain; background-repeat:no-repeat;
}

.walpac2 .inner {
	position: absolute; width:317px; top:95px;
}

.walpac3 {
	background:url(https://image.rakuten.co.jp/asoboze/cabinet/kawakomono/kg-y167/1200ver/kg-y167_07.jpg); width:760px; height:403px; position:relative;
	position:relative; background-size:contain; background-repeat:no-repeat;
}

.walpac3 .inner {
	position:absolute; width:360px; top:20px;
}

}
/* 商品ページ終わり */
/* スマホ用の要素を表示しない */
.sponly{
	display:none;
}
#sponly{
	display:none !important;
	visibility:hidden;
}

/* 2つ並びの商品紹介*/
.shoukaigrid {

	display: block;
	width: 1200px;
	box-sizing: border-box;
	margin-bottom: 30px;
}

.shoukaigrid > div {
  min-width: 0;
  padding: 1em;
	width: auto;
}

/* 2つ並びの商品紹介で使う「詳しくみる」 */
.kuwashikumiru {
	width:150px; height:30px; background-color:#898989; color:#FFFFFF; text-align:center; text-decoration: none;
	vertical-align: middle;
border-radius: 3px;
}
.kuwashikumiru a {
	text-decoration: none;
	color: #FFFFFF;
	box-sizing: border-box;
	display: block;

	line-height: 30px;
}
.kuwashikumiru a:hover {
	color: #898989;
	background-color: #FFFFFF;
	border: 1px solid #898989;
	border-radius: 3px;
	transition-duration: 0.5s;
}
/*  index page */
	.topicstable tr td {
		width: 400px;
		box-sizing: border-box;
		margin:0 auto;
	}
	.topicsitem {
		width: 370px;
		margin:0 auto 30px;
	}
	.asobase03 {
		font-size: 14px;
		color: #b5b5b5;
		margin: 0 auto;
		padding: 15px 0 3px;
		letter-spacing: 1px;
	}
	.asobase04 {
		font-size: 16px;
		margin: 0 auto;
		padding: 0 0 10px;
	}
	.asobase01 {
		font-size: 28px; padding:0; margin:0;
		letter-spacing: 0.1em;
		margin-top: 30px;
	}
	.asobase02 {
		font-size: 12px; margin-top: 3px;
	}

/* フッターにはるsnsのロゴ */
.snslogos img {
	height: 50px;
	padding: 10px;
	text-align:center;
}
.snslogos a img:hover {
	opacity:0.8;
}
.snslogos {
	width:500px;
	margin:60px auto 0;
}

/*　スペック */

.spec01 {
    clear: both;
    width: 720px;
    text-align:center;
	padding-bottom: 60px;
	margin:auto;
}
.spec01 th {
    width: 120px;
    padding: 5px 5px 5px 5px;
    text-align: right;
    font-size: 16px;
    vertical-align: top;
    color: #000;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
}


.spec01 td {
	width:600px;
    padding: 5px 5px 5px 5px;
    text-align: left;
    font-size: 16px;
    vertical-align: top;
    color: #000;
    border-bottom: 1px solid #ccc;
}
#container1200 .spec01 table {
	margin-right: auto;
	margin-left: auto;
	padding-top: 50px;
	display:block;
	width:720px;
}

/*　スペック終わり　*/

/* 2019年9月の左サイドバナー */
.ac-container2 .navimidashi{
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	position: absolute;
	z-index: 200000;
	display: block;
	height: 45px;
	cursor: pointer;
	color: #8E1728;
	font-size: 14px;
	background: #ffffff;
	font-family: 'Roboto', 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, sans-serif;
	margin: 0;
	width: 120px;
	box-sizing: border-box;
	text-align: center;
	border: 1px solid #8e1728;
	vertical-align: middle;
	font-weight: bolder;
}
.ac-container2 .navimidashi:hover{
	background-color: #831728;
	color: #ffffff;
	transition-duration: .8s;
}
.ac-container2 .navimidashi:hover + .navimidashi,
.ac-container2 .navimidashi:hover + .navimidashi:hover{
	background-color: #831728;
	color: #ffffff;
	transition-duration: .8s;

	margin: 0;
}
.ac-container2 .navimidashi:hover:after,
.ac-container2 .navimidashi:hover + .navimidashi:hover:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
	left:0;
    background: transparent url(file:///C|/Users/KAMEI/AppData/Local/images/arrow_down.png) no-repeat center center;
}


/*--トップラベルおわり--*/

.ac-container2 div .ac-bag li a {
	color: #494949;
	text-decoration: none;
	display: block;
	line-height: 20px;
	padding:8px 0 8px 3px;
	margin: 0;
	padding-left: 15px;
	font-weight: 500;
}
.ac-container2 div .ac-bag li a:hover{
	color:#fff;
	background:#8e1728;
	transition-duration: .5s;
}
.ac-container2 .navimidashi:hover ~ ul.ac-kawakomono{
	height: 144px;
	left: 120px;
	position: relative;
	top: 68px;
}
.ac-container2 ul.ac-kawakomono:hover{
	height: 144px;
	left: 120px;
	position: relative;
	top: 68px;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);

}
.ac-container2 div .ac-kawakomono li {
	text-decoration: none;
	display: block;
	list-style-type: none;
	cursor: pointer;
	padding: 0;
	font-size: 11px;
}



.sfbanner p.alpha{
	color: #909090;
	font-family: 'Roboto', 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, sans-serif;
	font-size: 13px;
	line-height: 40px;
	margin: 0;
	text-align: left;
	padding-left: 37px;
	font-weight: bold;
}
.ac-container2{
    width: 120px;
    margin: 0;
    float: left;
    padding: 0;
    position: fixed;
    top: 15%;
    z-index: 3000000;
    left: 8px;
    display: table;
}
		.categoryHead {
	height: 25px;
	background-color: #8e1728;
		}
		.categoryHead p {
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	line-height: 25px;
		}

#sidefloat{
	width:120px;
	position:fixed;
	top:40px;
	left:5px;
}
.sfbanner a{
	text-decoration: none;
	display: block;
}
.sfbanner a:hover{
	text-decoration:none;
	display:block;
	color:#fff;
	opacity:0.95;
}
/*--トップラベル--*/

.ac-container2 input{
    display: none;
}
.navimidashi p {
	height:45px;
	display:block;
	width: 115px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}
.navimidashi p span:nth-child(1) {
	display:block;
	position:absolute;
	width:115px;
	text-align:center;
	vertical-align:middle;
	margin:0;
	top:13px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
}
.navimidashi p span:nth-child(2) {
	display:block;
	position:absolute;
	width:115px;
	text-align:center;
	vertical-align:middle;
	margin:0;
	top:10px;
	font-weight:normal;
	font-size:14px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
}
.navimidashi p span:nth-child(2) {
	display:none;
}
.navimidashi:hover span:nth-child(2) {
	display:block;
}
.navimidashi:hover span:nth-child(1) {
	display:none;
}

.alpha span:nth-child(1) {
	display: block;
	position: absolute;
	width: 83px;
	left: 0;
	top: 0;
	padding-left: 39px;
	line-height: 43px;
}
.alpha span:nth-child(2) {
	display: block;
	position: absolute;
	width: 83px;
	left: 0;
	top: 0;
	padding-left: 39px;
	line-height: 43px;
}

.alpha span:nth-child(2) {
	display:none;
}
.sfbanner {
	cursor:pointer;
}
.sfbanner:hover span:nth-child(1) {
	display:none;
}
.sfbanner:hover span:nth-child(2) {
	display:block;
}

/*--トップラベルおわり--*/

.ac-container2 ul{
	background: rgba(255, 255, 255, 0.95);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	z-index: 1000000;
	margin-left: 0;
	padding-left: 0;
	font-family: 'Roboto', 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, sans-serif;
	left: 120px;
	position: relative;
}
.ac-container2 .navimidashi:hover ~ ul{
    transition:
        height 1s ease-in-out,
        box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container2 ul li{
    line-height: 20px;
    font-size: 14px;
    padding: 0 ;
	text-align:left;
	margin-left:0;
}
.ac-container2 .navimidashi:hover ~ ul.ac-bag{
	height: 542px;
	left: 120px;
	position: relative;
	top: 16px;
}
.ac-container2 ul.ac-bag:hover{
	height: 542px;
	left: 120px;
	position: relative;
	top:16px;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

.ac-container2 div .ac-bag li {
	text-decoration: none;
	display: block;
	list-style-type: none;
	cursor: pointer;
	padding: 0;
	font-size: 11px;

}
.ac-container2 div .ac-kawakomono li a {
	color: #494949;
	text-decoration: none;
	display: block;
	line-height: 20px;
	padding:8px 0 8px 3px;
	margin: 0;
	padding-left: 15px;
	font-weight: 500;
}
.ac-container2 div .ac-kawakomono li a:hover{
	color:#fff;
	background:#8e1728;
	transition-duration: .5s;
}
.ac-container2 .navimidashi:hover ~ ul.ac-small{
	height: 252px;
	left: 120px;
	position: relative;
	top: 120px;
}
.ac-container2 div .ac-small li {
	text-decoration: none;
	display: inline-block;
	list-style-type: none;
	cursor: pointer;
	padding: 0;
	width: 120px;
	font-size: 11px;
}
.ac-container2 div .ac-small li a {
	color: #494949;
	text-decoration: none;
	display: block;
	line-height: 20px;
	padding:8px 0 8px 3px;
	margin: 0;
	padding-left: 15px;
	font-weight: 500;
}
.ac-container2 div .ac-small li a:hover{
	color:#ffffff;
	background:#8e1728;
	transition-duration: .5s;
}
.ac-container2 ul.ac-small:hover{
	height: 252px;
	left: 120px;
	position: relative;
	top: 120px;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);

}
	.ac-container2 .navimidashi:hover ~ ul.ac-brand{
	height: 206px;
	left: 120px;
	position: relative;
	top:170px;
}

.ac-container2 div .ac-brand li {
	text-decoration: none;
	display: inline-block;
	list-style-type: none;
	cursor: pointer;
	padding: 0;
	width: 120px;
	font-size: 11px;
}

.ac-container2 div .ac-brand li a {
	color: #494949;
	text-decoration: none;
	display: block;
	line-height: 20px;
	padding:8px 3px;
	margin: 0;
	padding-left: 15px;
	font-weight: 500;
}
.ac-container2 div .ac-brand li a:hover{
	color:#ffffff;
	background:#8e1728;
	transition-duration: .5s;
}
.ac-container2 ul.ac-brand:hover{
	height: 206px;
	left: 120px;
	position: relative;
	top: 170px;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);

}


.sfbanner{
	width:120px;
	background-color:#ffffff;
	opacity:0.95;
    height: 45px;
    margin: 12px 0 0;
    position: relative;
    float: left;
    top: 100px;
	border: 1px solid #909090;
	box-sizing: border-box;
}
	.sfbanner p:hover {
		color: #ffffff; 
	}
.sfbanner.side1{
	top: 240px;
	position: absolute;
	background-image: url("https://www.rakuten.ne.jp/gold/asoboze/top_main_images/asset2.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 3px;
}
.sfbanner.side1:hover{
	top: 240px;
	position: absolute;
	background-image: url("https://www.rakuten.ne.jp/gold/asoboze/top_main_images/asset4.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 3px;
	background-color: #909090;
	transition-duration: .5s;
}
	
.sfbanner.side2{
	top: 290px;
	position: absolute;
	background-image: url("https://www.rakuten.ne.jp/gold/asoboze/top_main_images/asset3.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 3px;
}
.sfbanner.side2:hover{
	top: 290px;
	position: absolute;
	background-image: url("https://www.rakuten.ne.jp/gold/asoboze/top_main_images/asset5.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 3px;
	background-color: #909090;
	transition-duration: .5s;
}
.sfbanner.side3{
	top: 340px;
	position: absolute;
	background-image: url("https://www.rakuten.ne.jp/gold/asoboze/top_main_images/asset7.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 3px;
}
.sfbanner.side3:hover{
	top: 340px;
	position: absolute;
	background-image: url("https://www.rakuten.ne.jp/gold/asoboze/top_main_images/asset6.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 3px;
	background-color: #909090;
	transition-duration: .5s;
}
.sfbanner.side4{
	top: 390px;
	position: absolute;
	background-image: url("https://www.rakuten.ne.jp/gold/asoboze/top_main_images/asset8.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 3px;
}
.sfbanner.side4:hover{
	top: 390px;
	position: absolute;
	background-image: url("https://www.rakuten.ne.jp/gold/asoboze/top_main_images/asset1.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 3px;
	background-color: #909090;
	transition-duration: .5s;
}
		.icon::before {
			 content: ">";
			position: absolute;
			right: 7px;
			top: 10px;
			vertical-align: middle;
			font-weight:bold;
		}
		.fa-caret-right {
			position: absolute;
			right: 7px;
			top: 13px;
			vertical-align: middle;
			font-weight:400;
		}

/* 左サイドバナー終わり */

/* フロートを解除 */
.clearbox{
	clear:both;
	height:30px;
	width:100%;
}
/*フロート解除終わり */

/* ふわっと表示させるアレ */
.effect div {
  margin: auto;
  transition: 1.0s;
  transition-delay: .1s;
} 
/*フワッと表示させるアレ終わり */

.midashifot2 .fottertitle2 tr td img {
	width: 350px;
}

/* コンテンツページ */

.contentstop2 {
	width: 1200px;
	display: block;
	margin: auto;
}
	.contentstop2 .contentsTopImage {
		display: block;
		margin: auto;
		width: 700px;
	}
.tokubox2 {
	display: table;
	max-width: 1200px;
	width: 100%;
	border: none;
	box-sizing: border-box;
}
	.tokubox2 .cont-box2 {
		display: table-cell;
		border: none;
		box-sizing: border-box;
		width: 33%;
	}
	.contents21 p {
	padding:10px 30px 20px 30px;
	font-size: 14px;
	color: #494949;
	line-height: 1.7em;
	margin: 0;

	}
	.cont-box2 {
	float: left;
	width: 330px;
	margin-right: 3px;
	padding: 10px;
}
.cont-box2_last {
	float: right;
	width: 330px;
	padding: 10px;
}
.tokubox {
	padding-right: 2px;
	padding-left: 2px;
	overflow: hidden;
}
.cont-box2 p {
	font-size: 12px;
	text-align: left;
	width: 330px;
}
.cont-box2_last p {
	font-size: 12px;
	text-align: left;
	width: 330px;
}

/*　コンテンツ　革製品のお手入れ newpage　*/

.mentetop01 p {
	font-size:20px;
	text-align:center;
	line-height: 1.5;
	letter-spacing: 0.1em;
	word-break: normal;
}

.mentetop02 p {
	font-size:28px;
	text-align:center;
	line-height: 1.5;
	letter-spacing: 0.1em;
	word-break: normal;
}

.mente01 p {
	font-size:28px;
	text-align:center;
	line-height: 1.5;
	letter-spacing: 0.1em;
	word-break: normal;
	text-decoration: underline;
}

.mente02 p {
	font-size:20px;
	text-align:left;
	line-height: 1.75;
	letter-spacing: 0.15em;
	word-break: normal;
}

.mente01 .suuzi {
	font-size:28px;
	text-align:center;
	line-height: 1.5;
	letter-spacing: 0.1em;
	word-break: normal;
}
.mentetop01  {
	padding:30px 40px 10px 40px;
}
.mentetop02 {
	padding:15px 70px 10px 70px;
}

.mente01 {
	padding:15px 70px 10px 70px;
}

.mente02 p {
	padding:10px 65px 25px 65px;
}

/*　201910　NEW カテゴリ　*/


#containercate1200{
	width:1200px;
	margin:20px auto;
	overflow-wrap:break-word;
	word-wrap:break-word;
	font-family:  'Noto Sans JP', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, sans-serif;
}

#containercate1200 .catebase01 p {
	font-size: 25px;
	font-family: 'Roboto', 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, sans-serif;
	text-align: center;
	color: #494949;
	padding-top: 20px;
}

#containercate1200 .catebase02 p {
	font-size: 18px;
	font-family: 'Roboto', 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, sans-serif;
	width: 600px;
	text-align: center;
	color: #494949;
	margin: 0 auto;
	padding-bottom: 20px;
}

#containercate1200 .catebase03 p {
	font-size: 18px;
	font-family: 'Roboto', 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, sans-serif;
	width: 800px;
	text-align: left;
	color: #494949;
	margin: 0 auto;
	line-height: 1.7em;
	padding-bottom: 20px;
}

#containercate1200 .catebase04 p {
	font-size: 18px;
	font-family: 'Roboto', 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, sans-serif;
	text-align: center;
	color: #494949;
	margin: 0;
	text-decoration: underline;
	padding-top: 40px;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;
}

#containercate1200 .catebase05 p {
	font-size: 15px;
	font-family: 'Roboto', 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, sans-serif;
	text-align: center;
	color: #CCCCCC;
	padding-top: 15px;
	padding-bottom: 20px;
}

#containercate1200 .catebase06 p {
	font-size: 25px;
	font-family: 'Noto Serif JP', serif;
	text-align: center;
	color: #494949;
	margin-top: 0;
	padding-bottom: 10px;
}

#containercate1200 .catebase07 p {
	font-size: 20px;
	font-family: 'Noto Serif JP', serif;
	text-align: center;
	color: #494949;
	padding-bottom: 10px;
}

#containercate1200 .catebase08 p {
	font-size: 15px;
	font-family: 'Noto Serif JP', serif;
	text-align: center;
	color: #CCCCCC;
}


/* 四角で文字を囲む */

#containercate1200 .kakomi-box1 {

	margin: 2em auto;

	padding:0 1em;

	width: 400px;

	font-family: 'Roboto', 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, sans-serif;

	text-align:center;

	background-color: #fff; /* 背景色 */

	border: 1px solid #494949;

	color: #494949;

}



/* 塗りで文字を囲む */

#containercate1200 .kakomi-box2 {

	background:#CCC;

  	padding:0 0.5em;

	width: 700px;

	font-family: 'Roboto', 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, sans-serif;

	text-align:center;

	color: #494949;

	margin: 0 auto;

}





/* 上下点線で字を挟む */



#containercate1200 .tenline {

	font-size: 18px;

	font-family: 'Roboto', 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, sans-serif;

	text-align: center;

	color: #494949;

	width: 800px;

	margin: 0 auto;

	border-bottom: dotted 2px #494949;

	border-top: dotted 2px #494949;

}





/* 半分の要素 */

#containercate1200 .wraphalf{

	width:600px;

	float:left;

	display:block;

}



#containercate1200 .wraphalf img{

	width:600px;

}



/* 画像２つ並び */



#container1200 .contetwo {

	margin-top:20px;

	margin-bottom:60px;

}



#container1200 .contetwo .asoconte {

	width: 1000px;

	box-sizing: border-box;

	margin: auto;

}



#container1200 .contetwo .asoconte tr td img {

	display: block;

	text-align: center;

	margin-right: auto;

	margin-left: auto;

}



/* 画像3つ並び */



#containercate1200 .three-box {

	float:left;

	width:375px;

	margin-right:3px;

	padding:10px;

}



#containercate1200 .three-box_last  {

	float:left;

	width:365px;

	padding:10px;

	text-align:left;

}



#containercate1200 .threebox3  {

	padding-right: 2px;

	padding-left: 2px;

	overflow: hidden;

	padding-bottom: 10px;

	padding-top: 10px;

}



#containercate1200 .threebox3 p {

	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

	font-size:16px;

	text-align:left;

	color:#494949;

	padding:30px 45px;

}



#containercate1200 .three-box_last p {

	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

	font-size: 16px;

	text-align:left;

	color:#494949;

	padding:30px 45px;

}

/* ライトバナー */

	.floatRightAll {
    height: 170px;
    width: 40px;
    transition: 1.0s;
    background-color: #ffffff;
	}
	.floatRightAll:hover {
    width: 520px;
	}
	.floatRightHead {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    height: 170px;
    width: 40px;
	}
	.floatRightHead p {
    transform: rotate(90deg);
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    line-height: 170px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .1em;
	}
	.firstBody p {
    color: #8e1728;
    top: 0px;
    right: -30px;
	}
	.secondBody p {
    color: #8e8e88;
    top: 0px;
    right: -15px;
	}
	.floatRightBody {
    width: 0;
    height: 170px;
	}
	.floatRightBody img {
		width:0;
		height: 0;
	}
	.floatRightAll:hover .floatRightBody {
		width: 720px;
		display: block;
	}
	.floatRightAll:hover .floatRightBody img {
    width: 150px;
    height: 150px;
    padding: 10px 5px;
    margin: 0;
    display: block;
    float: left;
	}
	.floatRightBody img:last-child{
		padding: 10px 0;
	}
	.firstFloat {
		top: 120px;
    right: -480px;
    border: 5px solid #8e1728;
    position: fixed;
    border-radius: 10px 0 0 10px;
    border-right: none;
	}
	.secondFloat {
    top: 310px;
    right: 0;
    border: 5px solid #8e8e88;
    position: fixed;
    border-radius: 10px 0 0 10px;
    border-right: none;
        z-index: 999;
	}


		.rightBanner2 {
		position: fixed;
		cursor: pointer;
		width: 520px;
		height: 180px;
		transition: 1.0s;
		right: -480px;		
		background-color: #ffffff;
		z-index: 999999;
	}
	.rightBanner2:hover{
		right: 40px;
}
	.newItem {
		top: 120px;
	}
		.rightBanner3 {
		position: fixed;
		cursor: pointer;
		width: 520px;
		height: 180px;
		transition: 1.0s;
		right: -480px;		
		background-color: #ffffff;
		z-index: 999;	
	}
	.rightBanner3:hover{
		right: 0;
}
	.rightBanner3:hover + .rightBanner2{
		right: 520px;
}

/*　ギャラリー関係　*/
.wrap600{
	width:600px;
	float:left;
	display:block;
	max-height:600px;
}
.gallerytitle p{
	font-size:48px;
	margin-bottom:0;
}
.gallerysub p{
	font-size:36px;
    padding-bottom: 15px;
}
.gallerytext p{
	font-size:18px;
    padding-left: 6px;
	font-weight:lighter;
}
table.gallerytable{
	width:1200px;
	clear:both;
}
table.gallerytable td{
}
.galleryshohin img{
	width:100%;
	box-sizing: border-box;
}
.shoukaigrid .galleryshohin{
	width:600px;
	float:left;
	margin-bottom:50px;
	box-sizing: border-box;
}
.gallerylink{
    width: 600px;
    float: right;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    padding-top: 0px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 30px;
    box-sizing: border-box;
}
.gallerylink p {
    padding: 10px 0;
    line-height: 30px;
}
.gallerylinkfutoji{
	font-weight: bold;
	padding-top: 20px;
}
img[id*="large"]{
	display:block;
	height:100vh;
	width:auto;
	margin:auto;
}

.largeImg{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background-color:#ddd;
}
.wrap600 img {
	max-height: 600px;
	width: 600px;
	height:auto;
}

.wrap600 .wraptext{
	margin:100px auto;
	display:block;
	padding:0 120px;
}
.gallerywrap .reviewcomment .galnext img{
	width:300px;
	margin:auto;
	padding:0;
	display:block;
}
.gallerywrap .reviewcomment .galback img{
	width:300px;
	margin:auto;
	padding:0;
	display:block;
}
.galback{
		margin:0;
	padding:0;
	display:block;
}
.galnext{
		margin:0;
		padding:0;
	display:block;
}
.gallerywrap {
	max-width:400px;
	display:block;
	padding:50px;
	position:fixed;
	top:-30px;
	left:900px;
	background:rgba(255,255,255,0.9);
	height:100%;
}
.gallerywrap .reviewcomment p{
	padding:0 15px 15px 20px;
	margin:15px;
	font-size:18px;
}

.reviews img[id*="large"]{
	display:block;
	height:100vh;
	width:auto;
	float:left;
}
.reviews{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background-color:#fff;
}

/* ギャラリーの閉じるボタン */
.my-parts {
  display: none;
  width: 60px;
  height: 60px;
  position: fixed;
  top:18px;
  right:25px;
  background: rgba(0,0,0,0.75);
  border-radius:50%;
}
.my-parts span::before,
.my-parts span::after {
  display: block;
  content: "";
  position: absolute;
  top: 33px;
  right: 9px;
  width: 70%;
  height: 7%;
  margin: -8% 0 0 -42%;
  background: rgb(255, 255, 255);
}
.my-parts span::before {
  transform: rotate(-45deg);
}
.my-parts span::after {
  transform: rotate(45deg);
}
.forsp p{
	padding-top:30px;
	padding-left:30px;
}
.swiper-container{
	width:1200px;
}
.swiper-slide img{
	width:250px;
}
.gallerytable tr td img {
	width:300px;
}
.reviewwrap {
	min-width:500px;
	max-width:700px;
	display:block;
	padding:50px;
	position:fixed;
	top:100px;
	left:50%;
	background:rgba(255,255,255,0.9);
}
.reviewwrap .reviewtitle p{
	padding:15px;
	margin:15px;
	font-size:24px;
}
.reviewwrap .reviewcomment p{
	padding:0 15px 15px 15px;
	margin:15px;
	font-size:18px;
}
.reviewwrap .reviewcomment a img{
	width:300px;
}
.pagejump {
	width:400px;
	height:30px;
	background-color:#bbb;
	margin:auto;
	text-align:center;
	margin-bottom:30px;
}
.pagejump a{
	line-height:30px;
	display:block;
}
.pagejump a:link{
	text-decoration:none;
	color:rgba(0,0,153,1);
}
.pagejump a:hover{
	text-decoration:none;
	color:rgba(0,0,153,1);
	background-color:#ddd;
}
.pagejump a:visited{
	text-decoration:none;
	color:rgba(0,0,153,1);
}
.pagejump a:active{
	text-decoration:none;
	color:rgba(0,0,153,1);
}




/* レビューギャラリー　ホバーでコメント表示 */

		.small1 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_17acover.jpg);
			background-size: 300px;
			background-repeat: no-repeat;
			background-position: center left;
		}
		.small1 img:hover {
			opacity: 0;
		}

		.small2 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_02acover.jpg);			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small2 img:hover {
			opacity: 0;
		}

		.small3 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_20acover.jpg);			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small3 img:hover {
			opacity: 0;
		}

		.small4 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_21cover.jpg);			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small4 img:hover {
			opacity: 0;
		}

		.small5 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_19acover.jpg);			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small5 img:hover {
			opacity: 0;
		}

		.small6 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_18acover.jpg);			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small6 img:hover {
			opacity: 0;
		}

		.small7 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_15acover.jpg);			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small7 img:hover {
			opacity: 0;
		}

		.small8 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_12acover.jpg);			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small8 img:hover {
			opacity: 0;
		}

		.small9 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_11acover.jpg);			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small9 img:hover {
			opacity: 0;
		}

		.small10 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_14acover.jpg);			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small10 img:hover {
			opacity: 0;
		}

		.small11 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_13acover.jpg);			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small11 img:hover {
			opacity: 0;
		}

		.small12 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_16acover.jpg);			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small12 img:hover {
			opacity: 0;
		}
		.small13 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_matsu01cover.jpg);
			background-size: 300px;
			background-repeat: no-repeat;
			background-position: center left;
		}
		.small13 img:hover {
			opacity: 0;
		}

		.small14 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_walpac02cover.jpg);
background-repeat: no-repeat;
			background-size: 300px;
			background-position: center left;
		}
		.small14 img:hover {
			opacity: 0;
		}

		.small15 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_walpac01cover.jpg);
background-repeat: no-repeat;
			background-position: center left;
			background-size: 300px;
		}
		.small15 img:hover {
			opacity: 0;
		}

		.small16 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_toft01cover.jpg);
background-repeat: no-repeat;
			background-position: center left;
			background-size: 300px;
		}
		.small16 img:hover {
			opacity: 0;
		}

		.small17 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_2way01cover.jpg);
			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small17 img:hover {
			opacity: 0;
		}

		.small18 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_rint01cover.jpg);
			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small18 img:hover {
			opacity: 0;
		}

		.small19 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_regile01cover.jpg);
			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small19 img:hover {
			opacity: 0;
		}

		.small20 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_regile03cover.jpg);
			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small20 img:hover {
			opacity: 0;
		}

		.small21 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_regile02cover.jpg);
			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small21 img:hover {
			opacity: 0;
		}

		.small22 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_regile04cover.jpg);
			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small22 img:hover {
			opacity: 0;
		}

		.small23 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_mono01cover.jpg);
			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small23 img:hover {
			opacity: 0;
		}

		.small24 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_case01cover.jpg);
			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small24 img:hover {
			opacity: 0;
		}
/*　ギャラリー関係終わり　*/


/* 一緒にちがおうプロジェクト */
.interview {
	opacity: 0.7;
}
.familylink {
	width: 100%;
	max-width: 1200px;
}
.linkbanner {
	width: 380px;
	padding: 10px;
	float:left;
}
.linkbanner img {
	width: 380px;
}

/* モニターページ */
		.monitorOpen {
			width: 100%;
			margin: 0;
			padding: 0;
		}
		.monitorOpen div {
			width: 25%;
			float: left;
			display: block;
		}
		.monitorOpen div img {
			width: 100%;
		}
		.monitorComment {
			width: 300px;
			height: 300px;
			display: block;
			float: left;
			border: 1px solid #cccccc;
			border-collapse: collapse;
			box-sizing: border-box;
		}
		.monitorComment p {
			padding: 40px;
			vertical-align: middle;
			font-size: 18px;
		}
		.regileMonitor {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/monitor/ze-1.jpg);
			background-size: 100% auto;
			background-repeat: no-repeat;
			background-position: center center;
			width: 100%;
			height: 900px;
		}
		.monitorComment a:link {
			color: #494949;
			text-decoration: none;
		}
		.monitorComment a:visited {
			color: #494949;
			text-decoration: none;
		}
			.pcButton {
				cursor: pointer;
			}
			.pcButton:hover {
				opacity: 0.8;
			}
			.preparation {
				border: 3px solid #191919; border-right: none; box-sizing: border-box; width: 300px; height: 600px;
			}
			.preparation:last-child {
				border-right: 3px solid #191919;
			}
			.preparation p {
				text-align: center; vertical-align: middle; font-weight: bold; display: table-cell; height: 600px; width: 300px; margin: auto; padding: 0;
			}

