@charset "utf-8";
/* CSS Document */



/*　ギャラリー関係終わり　*/
/*--トップラベル--*/
/*　ページフッター旧ページより　*/

.midashifot2 .fottertitle2 tr th {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #898989;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #898989;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #898989;
	height: 40px;
	color: #898989;
	background-position: left top;
	padding-right: 1em;
	padding-left: 1em;
	font-size: 15px;
	text-align: left;
	line-height: 40px;
	font-weight: bold;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.midashifot2 .fottertitle2 {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #898989;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	width: 760px;
}
.midashifot2 .fottertitle2 tr td {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #898989;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #898989;
	line-height: 160%;
	font-size: 12px;
	list-style-position: inside;
	padding-bottom: 15px;
	padding-right: 1em;
	padding-left: 1em;
	text-align: left;
	margin-top: 0px;
	vertical-align: top;
	padding-top: 15px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.midashifot2 .fottertitle2 tr {
	text-align:left;
}

.midashifot2 {
	text-align:center;
	margin-top:15px;
	margin-left:auto;
   	margin-right:auto;
	width:760px;
	margin-bottom:60px;
}
/*　ヘッダーall背景など　*/

#allfotter {
	background-color: #8E1728;
	width: 100%;
	height: 150px;
	overflow: hidden;
	text-align: center;
	margin: auto;
}
#allfotter #footer1 .foota {
	padding: 15px;
	color: #fff;
	width: 650px;
	text-align: center;
	margin: auto;
}


/*　フッター　*/

#footer1 {
	background-color: #8E1728;
	width: 750px;
	padding-top: 30px;
	margin-right: auto;
	margin-left : auto;
	font-size: 10px;
	color: #FFF;
	padding-left: 0px;
	padding-right: 0px;
}

#footer1 a{
	text-decoration: none;
	color: #FFFFFF;
	
}

#footer1 nav img {
	vertical-align:middle;
}


#footer2 {
	background-color: #8E1728;
	width:780px;
	padding-top:50px;
	margin-right: auto;
	margin-left : auto;
}

#footer3 {
	background-color: #8E1728;
	margin-right: auto;
	margin-left : auto;
	font-size: 10px;
	color: #FFF;
	text-align: center;
	clear: both;
}

.narrowhide {
	display:none;
}

.souryou span:nth-child(1) {
	display:none;
}
.souryou span:nth-child(2) {
	display:inline-block;
	width:150px;
}
.souryou span:nth-child(2)  img{
	width:150px;
}
#header {
	text-align: center;
	width: 1000px;
	margin-top: 0px;
	padding-top: 0px;
}
#header #h-lefttop {
	float: left;
	font-size: 10px;
	font-weight: 500;
	padding: 5px 10px;
	color: #494949;
}
#header #h-righttop {
	float: right;
	font-weight: 500;
	font-size: 13px;
	padding: 3px 10px;
	background: #8e1728;
	color: #fff;
}

#header #h-leftbottom img {
	float: left;
	margin-top: 10px;
}
#header #h-rightbottom {
	float: right;
	margin: 0;
	padding-right: 0;
	font-size: 13px;
	margin-top: 10px;
	padding-top: 14px;
	height: 44px;
	width:470px;
	padding-left:0;
}
#header #h-rightbottom #headmenu .h-menu {
	float: left;
	list-style-type: none;
	padding: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}
#headmenu .h-menu{
	 position: relative;
padding: 0em 0.3em 0.3em 0.3em;
}
li.h-menu:before {
position:absolute;
content:'';
top: 1em;
left: 0;
height:0;
width:0;
border-style: solid;
border-width: 6px 0 6px 9px;
border-color: transparent transparent transparent #8e1728;
}
#header hr {
	height: 0.5px;
	width: 100%;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #ddd;
}
#header #headlist {
	margin: 0px;
	padding: 0px;
	width: 1000px;
	height: 100px;
}
#header #headlist #h-listitems {

	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: inherit;
	padding-right: inherit;
	text-align: center;
	padding-top: 30px;
}
#header #headlist #h-listitems .items {
	float: left;
	height: 70px;
	width: 95px;
	border-right-width: 0.5px;
	border-right-style: solid;
	border-right-color: #ddd;
	font-size: 10px;
	list-style-type: none;
}
#header .clearboth {
	clear: both;
}
#header #headlist #h-listitems .items {
	text-align: center;
	width: 110px;
	padding-top: 12px;

	line-height: 13px;
	font-size: 12px;
}
#header #headlist #h-listitems .itemslast {
	text-align: center;
	list-style-type: none;
	float: left;
	padding-left: 15px;
	padding-top: 12px;
	line-height: 13px;
	font-size: 12px;
}
#header #h-concept {
	float: left;
	padding-left: 10px;
	margin-top: 20px;
	padding-top: 0px;
	height: 44px;
}
#header #h-concept p {
	font-size: 14px;
    color: #494949;
    line-height: 44px;
}
.h-menu a:link {
	color: #494949;
	text-decoration: none;
}
.h-menu a:visited {
	color: #000;
	text-decoration: none;
}
.items a:link {
	color: #494949;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.items a:visited {
	color: #494949;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.itemslast a:link {
	color: #494949;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.itemslast a:visited {
	color: #494949;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}


.midashifot2 .fottertitle2 tr td img {
	width: 200px;
}
.sponly{
	display:none;
}

/* ふわっと表示させるアレ */
.effect div {
transition: 1.0s;
  transition-delay: .1s;
} 
	
.ac-container2{
    width: 120px;
    margin: 0;
    float: left;
    padding: 0;
    position: fixed;
    top: 15%;
    z-index: 3000000;
    left: 8px;
    display: table;
}
/* サイドバナー終わり */

/*　ページフッター旧ページより　*/


/*　ヘッダーall背景など　*/


/*　フッター　*/




/*　フッター終わり　*/

/*　ヘッダー　*/
/*　ヘッダー終わり　*/





/* 画像２つ並び */



#container1200 .contetwo {

	margin-top:20px;

	margin-bottom:60px;

}



#container1200 .contetwo .asoconte {

	width: 760px;

	box-sizing: border-box;

	margin: auto;

}



#container1200 .contetwo .asoconte tr td img {

	display: block;

	text-align: center;

	margin-right: auto;

	margin-left: auto;

}






/* 動画へのリンク */
#container1200 .asomovie {
	width: 100%;
	box-sizing: border-box;
	margin: auto;
}

#container1200 .asomovie tr td img {
	width: 80%;
	display: block;
	margin:auto;
}

/* 楽天店ヘッダー */

#header {
	text-align: center;
	width: 1000px;
	margin-top: 0px;
	padding-top: 0px;
}
#header #h-lefttop {
	float: left;
	font-size: 10px;
	font-weight: 500;
	padding: 5px 10px;
	color: #494949;
}
#header #h-righttop {
	float: right;
	font-weight: 500;
	font-size: 13px;
	padding: 3px 10px;
	background: #8e1728;
	color: #fff;
}

#header #h-leftbottom img {
	float: left;
	margin-top: 10px;
}
#headmenu .h-menu{
	 position: relative;
padding: 0em 0.3em 0.3em 0.3em;
}
li.h-menu:before {
position:absolute;
content:'';
top: 1em;
left: 0;
height:0;
width:0;
border-style: solid;
border-width: 6px 0 6px 9px;
border-color: transparent transparent transparent #8e1728;
}
#header hr {
	height: 0.5px;
	width: 100%;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #ddd;
}
#header #headlist {
	margin: 0px;
	padding: 0px;
	width: 1000px;
	height: 100px;
}
#header #headlist #h-listitems {

	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: inherit;
	padding-right: inherit;
	text-align: center;
	padding-top: 30px;
}
#header #headlist #h-listitems .items {
	float: left;
	height: 70px;
	width: 95px;
	border-right-width: 0.5px;
	border-right-style: solid;
	border-right-color: #ddd;
	font-size: 10px;
	list-style-type: none;
}
#header .clearboth {
	clear: both;
}
#header #headlist #h-listitems .items {
	text-align: center;
	width: 110px;
	padding-top: 12px;

	line-height: 13px;
	font-size: 12px;
}
#header #headlist #h-listitems .itemslast {
	text-align: center;
	list-style-type: none;
	float: left;
	padding-left: 15px;
	padding-top: 12px;
	line-height: 13px;
	font-size: 12px;
}
#header #h-concept {
	float: left;
	padding-left: 10px;
	margin-top: 20px;
	padding-top: 0px;
	height: 44px;
}
.h-menu a:link {
	color: #494949;
	text-decoration: none;
}
.h-menu a:visited {
	color: #000;
	text-decoration: none;
}
.items a:link {
	color: #494949;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.items a:visited {
	color: #494949;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.itemslast a:link {
	color: #494949;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.itemslast a:visited {
	color: #494949;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.leftnavi a:link {
	color: #000;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.leftnavi a:visited{
	color: #000;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: 20px;
}
.leftnavi ul li a:hover{
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background: #ccc;
}
#header #headlist #h-listitems {
	margin: 0px;
	margin-top: 10px;
	padding: 0;
	padding-top: 18px;
	margin-bottom: 28px;
}
#header {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#header a:hover {
	color: #8e8e88;
}
#header a img:hover{
	opacity:0.8;
}