@charset "utf-8";
/* CSS Document */
/*　ギャラリー関係　*/

/* レビューギャラリー　ホバーでコメント表示 */

		.small1 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_17acover.jpg);
			background-size: 300px;
			background-repeat: no-repeat;
			background-position: center left;
		}
		.small1 img:hover {
			opacity: 0;
		}

		.small2 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_02acover.jpg);			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small2 img:hover {
			opacity: 0;
		}

		.small3 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_20acover.jpg);			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small3 img:hover {
			opacity: 0;
		}

		.small4 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_21cover.jpg);			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small4 img:hover {
			opacity: 0;
		}

		.small5 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_19acover.jpg);			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small5 img:hover {
			opacity: 0;
		}

		.small6 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_18acover.jpg);			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small6 img:hover {
			opacity: 0;
		}

		.small7 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_15acover.jpg);			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small7 img:hover {
			opacity: 0;
		}

		.small8 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_12acover.jpg);			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small8 img:hover {
			opacity: 0;
		}

		.small9 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_11acover.jpg);			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small9 img:hover {
			opacity: 0;
		}

		.small10 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_14acover.jpg);			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small10 img:hover {
			opacity: 0;
		}

		.small11 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_13acover.jpg);			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small11 img:hover {
			opacity: 0;
		}

		.small12 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_16acover.jpg);			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small12 img:hover {
			opacity: 0;
		}
		.small13 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_matsu01cover.jpg);
			background-size: 300px;
			background-repeat: no-repeat;
			background-position: center left;
		}
		.small13 img:hover {
			opacity: 0;
		}

		.small14 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_walpac02cover.jpg);
background-repeat: no-repeat;
			background-size: 300px;
			background-position: center left;
		}
		.small14 img:hover {
			opacity: 0;
		}

		.small15 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_walpac01cover.jpg);
background-repeat: no-repeat;
			background-position: center left;
			background-size: 300px;
		}
		.small15 img:hover {
			opacity: 0;
		}

		.small16 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_toft01cover.jpg);
background-repeat: no-repeat;
			background-position: center left;
			background-size: 300px;
		}
		.small16 img:hover {
			opacity: 0;
		}

		.small17 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_2way01cover.jpg);
			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small17 img:hover {
			opacity: 0;
		}

		.small18 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_rint01cover.jpg);
			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small18 img:hover {
			opacity: 0;
		}

		.small19 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_regile01cover.jpg);
			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small19 img:hover {
			opacity: 0;
		}

		.small20 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_regile03cover.jpg);
			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small20 img:hover {
			opacity: 0;
		}

		.small21 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_regile02cover.jpg);
			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small21 img:hover {
			opacity: 0;
		}

		.small22 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_regile04cover.jpg);
			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small22 img:hover {
			opacity: 0;
		}

		.small23 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_mono01cover.jpg);
			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small23 img:hover {
			opacity: 0;
		}

		.small24 {
			background-image: url(https://image.rakuten.co.jp/asoboze/cabinet/gallery/review/review_case01cover.jpg);
			background-size: 300px;
background-repeat: no-repeat;
			background-position: center left;
		}
		.small24 img:hover {
			opacity: 0;
		}



/* レビューギャラリー終わり　*/




/*　フッター　*/

#footer1 {
	background-color: #8E1728;
	width: 750px;
	padding-top: 30px;
	margin-right: auto;
	margin-left : auto;
	font-size: 10px;
	color: #FFF;
	padding-left: 0px;
	padding-right: 0px;
}

#footer1 a{
	text-decoration: none;
	color: #FFFFFF;
	
}

#footer1 nav img {
	vertical-align:middle;
}


#footer2 {
	background-color: #8E1728;
	width:780px;
	padding-top:50px;
	margin-right: auto;
	margin-left : auto;
}

#footer3 {
	background-color: #8E1728;
	width: 1200px;
	margin-right: auto;
	margin-left : auto;
	font-size: 10px;
	color: #FFF;
	text-align: center;
	clear: both;
}

.souryou span:nth-child(1) {
	display:inline-block;
}
.souryou span:nth-child(2) {
	display:none;
}


#header {
	text-align: center;
	width: 1000px;
	margin-top: 0px;
	padding-top: 0px;
}
#header #h-lefttop {
	float: left;
	font-size: 10px;
	font-weight: 500;
	padding: 5px 10px;
	color: #494949;
}
#header #h-righttop {
	float: right;
	font-weight: 500;
	font-size: 13px;
	padding: 3px 10px;
	background: #8e1728;
	color: #fff;
}

#header #h-leftbottom img {
	float: left;
	margin-top: 10px;
}
#header #h-rightbottom {
	float: right;
	margin: 0;
	padding-right: 0;
	font-size: 13px;
	margin-top: 10px;
	padding-top: 1px;
	height: 44px;
	width:520px;
	padding-left:0;
}
#header #h-rightbottom #headmenu .h-menu {
	float: left;
	list-style-type: none;
	padding: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}
#headmenu .h-menu{
	 position: relative;
padding: 0em 0.3em 0.3em 0.3em;
}
li.h-menu:before {
position:absolute;
content:'';
top: 1em;
left: 0;
height:0;
width:0;
border-style: solid;
border-width: 6px 0 6px 9px;
border-color: transparent transparent transparent #8e1728;
}
#header hr {
	height: 0.5px;
	width: 100%;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #ddd;
}
#header #headlist #h-listitems .items {
	float: left;
	height: 70px;
	border-right-width: 0.5px;
	border-right-style: solid;
	border-right-color: #ddd;
	list-style-type: none;
	text-align: center;
	width: 110px;
	padding-top: 12px;

	line-height: 13px;
	font-size: 12px;
}
#header .clearboth {
	clear: both;
}
#header #headlist #h-listitems .itemslast {
	text-align: center;
	list-style-type: none;
	float: left;
	padding-left: 15px;
	padding-top: 12px;
	line-height: 13px;
	font-size: 12px;
}
#header #h-concept {
	float: left;
	padding-left: 10px;
	margin-top: 20px;
	padding-top: 0px;
	height: 44px;
}
.h-menu a:link {
	color: #494949;
	text-decoration: none;
}
.h-menu a:visited {
	color: #000;
	text-decoration: none;
}
.items a:link {
	color: #494949;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.items a:visited {
	color: #494949;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.itemslast a:link {
	color: #494949;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.itemslast a:visited {
	color: #494949;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}


.snslogos img {
	height: 50px;
	padding: 10px;
	text-align:center;
}
.snslogos a img:hover {
	opacity:0.8;
}
.snslogos {
	width:500px;
	margin:60px auto 0;
}
.souryoutable tr td{
	vertical-align:middle;
	border:1px solid #898989;
	border-collapse:collapse;
	border-spacing:0;
	padding:5px;
}
.souryoutable {
	border-collapse:collapse;
}

#othergallery .para {
	border-left: 1px solid #898989; padding-left: 15px; width: 1000px; margin:0 auto; padding-bottom: 5px; box-sizing: border-box;
	line-height:18px;
}

/*　ページフッター旧ページより　*/


/*--トップラベルおわり--*/

.sfbanner.side1{
	top: 240px;
	position: absolute;
	background-image: url("https://www.rakuten.ne.jp/gold/asoboze/top_main_images/asset2.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 3px;
}
.sfbanner.side1:hover{
	top: 240px;
	position: absolute;
	background-image: url("https://www.rakuten.ne.jp/gold/asoboze/top_main_images/asset4.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 3px;
	background-color: #909090;
	transition-duration: .5s;
}
	
.sfbanner.side2{
	top: 290px;
	position: absolute;
	background-image: url("https://www.rakuten.ne.jp/gold/asoboze/top_main_images/asset3.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 3px;
}
.sfbanner.side2:hover{
	top: 290px;
	position: absolute;
	background-image: url("https://www.rakuten.ne.jp/gold/asoboze/top_main_images/asset5.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 3px;
	background-color: #909090;
	transition-duration: .5s;
}
.sfbanner.side3{
	top: 340px;
	position: absolute;
	background-image: url("https://www.rakuten.ne.jp/gold/asoboze/top_main_images/asset7.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 3px;
}
.sfbanner.side3:hover{
	top: 340px;
	position: absolute;
	background-image: url("https://www.rakuten.ne.jp/gold/asoboze/top_main_images/asset6.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 3px;
	background-color: #909090;
	transition-duration: .5s;
}
.sfbanner.side4{
	top: 390px;
	position: absolute;
	background-image: url("https://www.rakuten.ne.jp/gold/asoboze/top_main_images/asset8.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 3px;
}
.sfbanner.side4:hover{
	top: 390px;
	position: absolute;
	background-image: url("https://www.rakuten.ne.jp/gold/asoboze/top_main_images/asset1.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 3px;
	background-color: #909090;
	transition-duration: .5s;
}
		.icon::before {
			 content: ">";
			position: absolute;
			right: 7px;
			top: 10px;
			vertical-align: middle;
			font-weight:bold;
		}
		.fa-caret-right {
			position: absolute;
			right: 7px;
			top: 13px;
			vertical-align: middle;
			font-weight:400;
		}
/* サイドバナー終わり */
/*　ページフッター旧ページより　*/

.midashifot2 .fottertitle2 tr th {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #898989;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #898989;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #898989;
	height: 40px;
	color: #898989;
	background-color: #ffffff;
	background-position: left top;
	padding-right: 1em;
	padding-left: 1em;
	font-size: 15px;
	text-align: left;
	line-height: 40px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.midashifot2 .fottertitle2 {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #898989;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	max-width: 100%;
	width: 1200px;
}
.midashifot2 .fottertitle2 tr td {
	width: 390px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #898989;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #898989;
	line-height: 160%;
	font-size: 12px;
	list-style-position: inside;
	text-align: left;
	margin-top: 30px;
	padding: 20px;
	vertical-align: top;
	padding-top: 15px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

}

.midashifot2 .fottertitle2 tr {
	text-align: left;
}

.midashifot2 {
	text-align: center;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	margin-bottom: 60px;
}
/*　ヘッダーall背景など　*/

#allfotter {
	background-color: #8E1728;
	width: 100%;
	height: 150px;
	overflow: hidden;
	text-align: center;
	margin: auto;
}
#allfotter #footer1 .foota {
	padding: 15px;
	color: #fff;
	width: 700px;
	text-align: center;
	margin: auto;
}



/*　フッター終わり　*/
/*　ヘッダー　*/
#header #headlist {
	margin: 0px;
	padding: 0px;
	width: 1000px;
	height: 100px;
}
#header #headlist #h-listitems {

	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: inherit;
	padding-right: inherit;
	text-align: center;
	padding-top: 30px;
}

/*　ヘッダー終わり　*/
.midashifot2 .fottertitle2 tr td img {
	width: 350px;
}
.basewrap600{
	width:600px;
	float:left;
	display:block;
}
.clearbox{
	clear:both;
	height:30px;
	width:100%;
}



/* 動画へのリンク */
#container1200 .asomovie {
	width: 100%;
	box-sizing: border-box;
	margin: auto;
}

#container1200 .asomovie tr td img {
	width: 80%;
	display: block;
	margin:auto;
}

