@charset "utf-8";
/* CSS Document */
.moviegallery{
	position:relative;
	width:100%;
	max-width:1200px;
	height:0;
	padding-top:60%;
}
.moviegallery iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
div.movietable{
	width:100%;
	clear:both;
}
div.movietable div{
	margin:auto;
	padding:5px;
	width:33%;
	display:inline-block;
	box-sizing:border-box;
	float:left;
}
.movietable div img {
	width:100%;
}
           .movietexts {
                width: 100%;
                box-sizing: border-box;
                padding: 0 20px;
                overflow-x: hidden;
            }
            .movietext {
                max-width: 40%;
                display: block;
                float: left;
                box-sizing: border-box;
                margin-right: 20%;
            }
            
            .movietexts .textimage {
                display: block;
                box-sizing: border-box;
                float: left;
                width: 30%;
            }
            .movietexts .textimage p {
            }
